 ------
 Usage
 ------
 Thomas Scheffler
 <thomas.scheffler@uni-jena.de>
 ------
 17 August 2008
 ------

Usage

 The MyCoRe Complete Plugin helps to update dependency information of the mycore-complete/pom.xml.

 As mycore-complete-${project.version}.jar consist of several artifacts and not it dependencies, dependencies of those artifacts
 should be added to mycore-complete.

* Adding artifacts

 To add artifacts to the mycore-complete-${project.version}.jar add the artifact, identified by <<groupID>>, <<artifactID>> and
 <<version>>, to the mycore-complete/pom.xml:
  
+-----+
  <build>
    ...
      <plugin>
        <artifactId>maven-dependency-plugin</artifactId>
        <executions>
          <execution>
            <id>unpack</id>
            <phase>process-resources</phase>
            <goals>
              <goal>unpack</goal>
            </goals>
            <configuration>
              <outputDirectory>${project.build.directory}/classes</outputDirectory>
              <excludeTransitive>true</excludeTransitive>
              <excludes>
                LICENSE*, NOTICE*, META-INF/LICENSE*, META-INF/NOTICE*,
                license, license/**/*, test, test/**/*,
                WEB-INF/web.xml,
                WEB-INF/log4j.*,
                WEB-INF/lib, WEB-INF/lib/**/*,
                WEB-INF/classes,
                WEB-INF/classes/**/*
              </excludes>
              <artifactItems>
                <artifactItem>
                  <groupId>org.mycore</groupId>
                  <artifactId>mycore-base</artifactId>
                  <version>${project.version}</version>
                </artifactItem>
                <artifactItem>
                  <groupId>org.mycore</groupId>
                  <artifactId>mycore-acl-editor</artifactId>
                  <version>${project.version}</version>
                </artifactItem>
                ...
              </artifactItems>
            </configuration>
          </execution>
        </executions>
      </plugin>
    ...
  </build>
+-----+

* Running the Plugin

 The Plugin is execuded in the <process-classes> phase per default after the <maven-dependency-plugin> has unpacked
 the artifacts to <target/classes>. Please refer to the {{{add-dependencies-mojo.html} add-dependencies goal documentation}}
 for additional configuration options.

+-----+
  <build>
    ...
      <plugin>
        <groupId>org.mycore.plugins</groupId>
        <artifactId>mycore-complete-plugin</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>add-dependencies</goal>
            </goals>
          </execution>
        </executions>
      </plugin>
    ...
  </build>
+-----+
