<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "web-app_2_3.dtd">
<web-app>
  <display-name>MyCoRe SimpleWorkflow</display-name>

  <!-- **************************************************************** -->
  <!-- Servlets and mapping from the modules application                -->
  <!-- **************************************************************** -->

  <servlet id="MCRStartEditor">
    <servlet-name>MCRStartEditorServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRStartEditorServlet</servlet-class>
  </servlet>
  <servlet id="MCRCheckNewDataServlet">
    <servlet-name>MCRCheckNewDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckNewDataServlet</servlet-class>
  </servlet>
  <servlet id="MCRCheckEditDataServlet">
    <servlet-name>MCRCheckEditDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckEditDataServlet</servlet-class>
  </servlet>
  <servlet id="MCRCheckCommitDataServlet">
    <servlet-name>MCRCheckCommitDataServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckCommitDataServlet</servlet-class>
  </servlet>
  <servlet id="MCRCheckCommitACLServlet">
    <servlet-name>MCRCheckCommitACLServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckCommitACLServlet</servlet-class>
  </servlet>
  <servlet id="MCRCheckEditACLServlet">
    <servlet-name>MCRCheckEditACLServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRCheckEditACLServlet</servlet-class>
  </servlet>
  <servlet id="MCRListWorkflowServlet">
    <servlet-name>MCRListWorkflowServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRListWorkflowServlet</servlet-class>
  </servlet>
  <servlet id="MCRFileViewWorkflowServlet">
    <servlet-name>MCRFileViewWorkflowServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRFileViewWorkflowServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRStartEditorServlet</servlet-name>
    <url-pattern>/servlets/MCRStartEditorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRCheckNewDataServlet</servlet-name>
    <url-pattern>/servlets/MCRCheckNewDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRCheckEditDataServlet</servlet-name>
    <url-pattern>/servlets/MCRCheckEditDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRCheckCommitDataServlet</servlet-name>
    <url-pattern>/servlets/MCRCheckCommitDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRCheckCommitACLServlet</servlet-name>
    <url-pattern>/servlets/MCRCheckCommitACLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRCheckEditACLServlet</servlet-name>
    <url-pattern>/servlets/MCRCheckEditACLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRListWorkflowServlet</servlet-name>
    <url-pattern>/servlets/MCRListWorkflowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRFileViewWorkflowServlet</servlet-name>
    <url-pattern>/servlets/MCRFileViewWorkflowServlet/*</url-pattern>
  </servlet-mapping>

</web-app>
