
html, body {
  overflow: hidden;
}

.navbar-brand {
  padding-top: 0.5rem;
  padding-bottom: 0;
}

#command-input {
  padding: 10px;
}

#command-input input {
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  line-height: 1.50rem;
}

#command-input input:focus {
  border-bottom-color: var(--bs-dark);
}

#command-input button {
  border-radius: 0;
  border: 0;
  margin-left: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: var(--bs-light);
  background-color: var(--bs-dark);
}

.navbar {
  border-radius: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-item {
  cursor: pointer;
}

#log {
  padding-bottom: 0;
  height: 100%;
}

div.web-cli-log {
  height: calc(100% - 232px);
  overflow: auto;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.web-cli-log>pre {
  overflow: visible;
  margin-bottom: 0;
}

div.web-cli-queue {
  height: 100%;
  padding-right: 0;
}

div.web-cli-queue>pre {
  height: calc(100% - 232px);
  overflow: auto;
  padding-right: 0;
  padding-top: 10px;
}

/*pre.web-cli-pre{
  text-indent: -69px;
  margin-bottom: -40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  height: 100%;
}*/
.row {
  width: 100%;
  margin: 0;
}

#exCollapsingNavbar .row {
  padding: 5px;
}

.loader {
  height: 4px;
  width: 100%;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  background-color: var(--bs-white);
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: var(--bs-dark);
  -webkit-animation: loading 5s linear infinite;
  animation: loading 5s linear infinite;
}

@-webkit-keyframes loading {
  from {left: -30%; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

@keyframes loading {
  from {left: -30%; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% {left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

.loader-no-animation {
  height: 4px;
  width: 100%;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  background-color: var(--bs-dark);
}

#current-command {
  padding: 20px 10px;
}

#current-command-running {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*Override Bootstrap*/
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.show .nav-link {
  color: var(--bs-dark);
  border-bottom: solid 2px var(--bs-dark);
}

.nav-tabs .nav-link {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.6em;
  color: var(--bs-secondary);
}

.nav-tabs .nav-item+.nav-item {
  margin: 0;
}

#current-command .current-command-label {
  color: var(--bs-secondary);
}

.webcli-settings-panel label {
  color: rgba(var(--bs-white-rgb), .75);
}

.webcli-settings-panel .form-check-input {
  cursor: pointer;
}

/*multiDropDown*/
.dropdown-menu {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}

/* When using data-bs-display="static", the .dropdown-menu is static, but we want it absolute below the nav item */
.nav-item.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 0;
  margin-top: -6px;
  position: fixed !important;
  max-width: none;
  z-index: 3000 !important;
}

.comHistoryDeleteButton {
  color: rgba(var(--bs-white-rgb), .5);
  font-size: 20px;
  cursor: pointer;
  padding-top: 7px;
}

.comHistoryList {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}
