@import "../js/dijit/themes/tundra/tundra.css";
@import "../js/dojo/resources/dojo.css"
html, body {
	width: 100%;
	height: 100%;
}

.tundra .webcliEditorIcon {
    background-image: url('../images/webcli.gif'); /* editor icons sprite image */
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-align: center;
}
.tundra .webcliEditorIconPause { background-position: 0px; }
.tundra .webcliEditorIconStop { background-position: -18px; }
.tundra .webcliEditorIconPlay { background-position: -36px; }
