@CHARSET "UTF-8";

/****************************************
* Overwrite some dojo css
****************************************/
.classeditor .dijitSplitterCover {
	/*by default on 3, but causes white overlay on dragging*/
	z-index: 1 !important;
}
.classeditor > .dijitContainer {
	width: 100%;
	height: 100%;
}
.claro .classeditor .dijitDialogCloseIcon {
	height: 22px;
	background-position: left;
}
.claro .classeditor .dijitDialogCloseIconHover {
	height: 22px;
	background-position: -21px center;
}
/****************************************
* general settings
****************************************/
.classeditor .align-right {
	float: right !important;
}
.classeditor .align-left {
	float: left !important;
}

.classeditorDialog {
	width: 1120px;
}
.classeditorDialog .dijitDialogPaneContent {
	padding: 0px;
}

.claro .dijitDialogUnderlay {
	background-color: black;
}

.classeditor.mainDialog {
	height: 700px;
	background-color: white;
}

.classeditor.dijitContentPane {
	padding: 0px;
}

.classeditor .treeContentPane {
	width: 30%;
}

.classeditor .treePane > .dijitContainer {
	width: 100%;
	height: 100%;
	position: relative;
}

.classeditor .treePane > .dijitContainer > .dijitContentPane {
	padding: 0px;
}

.classeditor .treePane > .dijitContainer > .dijitToolbar {
	border: 1px solid #cccccc;
	margin-top: 5px;
}

.classeditor .categoryEditorMainTable {
	padding: 5px;
	width: 100%;
}

.classeditor .categoryEditorMainTable .dijitTextBox {
	width: 98%;
}

.classeditor .categoryEditorMainTable .dijitTextArea {
	/*it's odd, the textarea does not inherit from .classeditor*/
    font-family: inherit;
    font-size: inherit;
}

.classeditor .categoryEditorMainTable .dijitSelect {
	width: 98%;
}
.classeditor .categoryEditorMainTable .dijitSelect .dijitButtonContents {
	width: 100%;
}

.classeditor .categoryEditorDescription {
	padding-top: 4px;
	width: 100px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}

.classeditor .mycoreRepeater .i18nRow .language {
	padding-top: 2px;
}
.classeditor .mycoreRepeater .plain-icon {
	color: black;
	font-size: 140%;
}
.classeditor .labelEditorTable {
	text-align: center;
	width: 100%;
}

.classeditor .labelEditorTable th {
	font-weight: normal;
}
.classeditor .labelEditorTable td {
	vertical-align: top;
}
.classeditor .labelEditorTable .button {
	text-align: right;
	width: 32px;
}
/*******************************************************
* Dialogs
********************************************************/
.classeditor.settingsDialog {
	width: 450px;
}
.classeditor.settingsDialog .dijitDialogTitle {
    background-image: url("../img/settings_16.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 0 0 22px;
}
.classeditor.settingsDialog h1 {
	font-size: 14px;
}
.classeditor.settingsDialog .dijitTextBox {
	width: 332px;
}
.classeditor.settingsDialog label {
	padding-left: 5px;
}
.confirmImportDialog {
	width: 600px;
	font-size: 110%;
}

.classeditor.exportDialog .dijitDialogTitle {
    padding: 0 0 0 22px;
	background-image: url(../img/classification_16.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.classeditor.exportDialog .content .classTextArea {
	width: 600px;
	height: 400px;
}
.classeditor.exportDialog .content .exportButton {
	display: block;
}

/*******************************************************
* Icons
********************************************************/
.classeditor .icon16 {
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
}
.classeditor .icon22 {
	background-repeat: no-repeat;
	background-position: center center;
	width: 22px;
	height: 22px;
}
.classeditor .addIcon {
	background-image: url(../img/add_16.png);
}
.classeditor .addDisabledIcon {
	background-image: url(../img/addDisabled_16.png);
}
.classeditor .removeIcon {
	background-image: url(../img/remove_16.png);
}
.classeditor .removeDisabledIcon {
	background-image: url(../img/removeDisabled_16.png);
}
.classeditor .exportClassIcon {
	background-image: url(../img/classification_16.png);
}
.classeditor .exportClassDisabledIcon {
	background-image: url(../img/classificationDisabled_16.png);
}
.classeditor .root {
	background-image: url(../img/root_22.png);
}
.classeditor .classification {
	background-image: url(../img/classification_22.png);
}
.classeditor .internalNode {
	background-image: url(../img/internalNode_22.png);
}
.classeditor .leafNode {
	background-image: url(../img/leafNode_22.png);
}
.classeditor .saveIcon {
	background-image: url(../img/save_16.png);
}
.classeditor .saveDisabledIcon {
	background-image: url(../img/saveDisabled_16.png);
}
.classeditor .settingsIcon {
	background-image: url(../img/settings_16.png);
}
.classeditor .settingsDisabledIcon {
	background-image: url(../img/settingsDisabled_16.png);
}
.classeditor .fullscreenIcon {
	background-image: url(../img/fullscreen_16.png);
}
.classeditor .fullscreenDisabledIcon {
	background-image: url(../img/fullscreenDisabled_16.png);
}
.classeditor .minimizeIcon {
	background-image: url(../img/minimize_16.png);
}
.classeditor .minimizeDisabledIcon {
	background-image: url(../img/minimizeDisabled_16.png);
}
.classeditor .folder {
	background-image: url(../img/folder_16.png);
}
.classeditor .refreshIcon {
	background-image: url(../img/refresh_16.png);
}
.classeditor .refreshDisabledIcon {
	background-image: url(../img/refreshDisabled_16.png);
}
.classeditor .loading {
	backgroundImage: url(../img/loading.gif);
	backgroundPosition: center center;
	backgroundRepeat: no-repeat;
	height: 100%;
}