/*
 * This file is part of ***  M y C o R e  ***
 * See http://www.mycore.de/ for details.
 *
 * MyCoRe is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * MyCoRe is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with MyCoRe.  If not, see <http://www.gnu.org/licenses/>.
 */

.fileSection {
    margin-top: 50px;
}

.teiDisplaySection {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
}

.possibleMatch{
    margin-top: 30px;
}

.possibleMatch a {
    display: block;
}

.possibleMatch b {
    margin-right: 5px;
}

.teiLine {
    display: block;
}

.teiRow {
    display: table-row;
}

.teiCell {
    display: table-cell;
    padding: 5px;
}

.teiTable {
    display: table;
}

dt a {
    vertical-align: super;
    line-height: 2;
}

dt, dd {
    display: inline;
    font-weight: normal;
    line-height: normal;
}

.popupTrigger {
    cursor: pointer;
}
