/* =================================================================================== */
/* content area */
/* =================================================================================== */
.content tr, .content th, .content td, .content select, .content textarea, .content input
{
	color: #041B26;
	font-size: 90%;
	font-family: Verdana, Geneva, Arial, SansSerif;	
	font-weight : normal;			
	text-decoration: none;	
}
.content input, .content textarea
{
	border-style: solid;
	border-width: 1px;
	border-color: #9A5B11;		
}
.content th
{
	font-weight : bold;				
	padding: 3px;	
	border-style: none none solid none;
	border-width: 1px;
	border-color: #041B26;			
}
.content a
{
	color: #9A5B11;
	text-decoration: none;
	font-weight : normal;	
}
.content a:hover
{
	text-decoration: underline;
}
.content h1
{
	font-size: 120%;
	font-weight : bold;					
}
		.content .gray
		{
			color: #454545;
			background : #9A5B11;
			padding: 7px;		
			border-color: #454545;	
			border-style: solid;
			border-width: 1px;		
		}
		.content .gray_noBorder
		{
			color: #454545;
			background : #EDEDED;
			padding: 7px;		
			border-style: none;			
			border-width: 0px;			
		}
		.content .green
		{
			background: #CAD9E0;
			color: #353535; 
			border-color: #236946;
			padding: 7px;		
			border-style: solid;
			border-width: 1px;	
		}
		.content .green a 
		{
			background: #CAD9E0; 

		}
		.content .green a:hover
		{
			text-decoration: underline;
		}		
		.content .green_noBorder
		{
			background: #CAD9E0;
			color: #353535; 	
/*			padding: 7px;			*/
			border-style: none;
			border-width: 0px;	
		}
		.content .green_noBorder a 
		{
			background: #CAD9E0; 
		}	
		.content .green_noBorder a:hover
		{
			color: #AF0101;
			text-decoration: underline;

		}				
		.content .red 
		{
			background: #FFE7E7;
			color: #AF0101; 
			padding: 7px;		
			border-color: #AF0101; 
			border-style: solid;
			border-width: 1px;	
		}
		.content .red a 
		{
			background: #FFE7E7; 
			color: #3D986C; 
		}
		.content .red a:hover 
		{
			color: #AF0101; 
		}		
		.content .marked
		{
			color: #3D986C;
		}
		.content .button
		{
			text-align: center;
			color: #9A5B11;
			background : #FFEFDE;
			font-size: 100%; 
			font-weight: bold;
			height: 22px;	
			border: 1px solid #9A5B11;
		}		
		.content input.button
		{
			text-align: center;
			color: #9A5B11;
			background : #FDEDDB;
			font-size: 100%; 
			font-weight: bold;
			height: 22px;	
			border-top: 1px solid #9A5B11;
		 	border-bottom: 1px solid #9A5B11; 	
		 	border-right: 1px solid #9A5B11;
		 	border-left: 1px solid #9A5B11;
		}				
		.content .button a
		{
			color: #9A5B11;
			font-size: 100%; 			
			background : #FDEDDB;			
		}	

		.content .button_green
		{
			text-align: center;
			color: #9A5B11;
			background : #FFEFDE;
			font-size: 10px; 
			font-weight: bold;
			height: 22px;	
			border: 1px solid #9A5B11;	
		}		
		.content input.button_green
		{
			text-align: center;
			color: #9A5B11;
			background : #FFEFDE;
			font-size: 10px; 
			font-weight: bold;
			height: 22px;	
			border: 1px solid #9A5B11;		
		}				
		.content .button_green a
		{
			color: #9A5B11;
			font-size: 10px; 			
			background : #FFEFDE;			
		}	
		.content .button_green a:hover, .content input.button_green:hover
		{
			text-decoration: underline;
		}			
		
		/* ---------------------------- */
		.content .table
		{
			border-style: solid;
			border-width: 1px;
			border-color: #041B26;	
			border-collapse: collapse;
		}
		.content .table th 
		{
			color: #454545;
			background : #FDEDDB;
			border-style: solid;
			border-width: 1px;
			border-color: #041B26;				
			padding: 5px;		
		}
		.content .table td
		{
			border-style: solid;
			border-width: 1px;
			border-color: #041B26;				
			padding: 5px;
		}
		
		/* ---------------------------- */
		.content .table_noGrid
		{
			border-style: solid solid solid solid;
			border-width: 1px;
			border-color: #6A6A6A;				
		}
		.content .table_noGrid th 
		{
			color: #454545;
			background : #FDEDDB;		
			border-style: none;
			border-width: 0px;
			padding: 5px;		
		}
		.content .table_noGrid td
		{
			border-style: none;
			border-width: 0px;
			padding: 5px;
		}

		/* ---------------------------- */
		.content .reset, .content .reset th, .content .reset td
		{
			border-style: none;
			border-width: 0px;
			padding: 0px; 
		}
