@CHARSET "UTF-8";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#mycore-acl-editor2{
	margin-bottom: 10px;
	width: 100%;
}

#acle2-header{
	border: 0;
	padding-bottom: 0px;
}

#acle2-header label{
    font-size: 13pt;
    padding-left: 20px;
}

#acle2-table-head label{
	font-weight: bold;
	display: inline;
}

.modal-header label{
	line-height: 30px;
    margin: 0;
    font-size: 24.5px;
    font-weight: bold;
}

.acle2-rule-detail-table label{
	font-weight: bold;
	line-height: 20px;
}

.btn label{
	font-style: normal;
	font-size: 14px;
    line-height: 20px;
}

#acle2-elem-per-page label{
	display: inline;
}

label{
	margin-bottom: 0;
}

.acle2-icon{
	cursor: pointer;
	font-size: 14px;
}
.nav {
	margin-bottom: 0px;
}

#tab-nav{
	margin: 10px 0 0 0;
	padding-left: 10px;
	max-height: 48px;
}

#tab-nav a{
	outline: 0;
}

#tab-nav a:hover{
	text-decoration: none;
}

#tab-nav label{
    padding: 0px;
}

.tab-content {
    margin-left: 10px;
}

#acle2-alert-area{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

#acle2-access-filter{
	margin-left: 10px;
	margin-bottom: 15px;
	width: 100%;
	max-height: 30px;
}

#acle2-access-filter > div{
	margin-right: -20px;
	float: left;
}

#acle2-access-table {
    table-layout: fixed;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#acle2-access-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

#acle2-access-table th:nth-child(1) {
	width: 20px; 
}

#acle2-access-table td:nth-child(1) {
	width: 20px;
}

#acle2-access-table th:nth-child(5) {
	width: 30px; 
}
#acle2-access-table td:nth-child(5) {
	width: 30px;
}

.acle2-table-access-entry > td.acle2-table-access-entry-td{
	padding-left: 8px;
}

select, textarea, input[type="text"]{
	margin-bottom: 0px;
	font-weight: normal;
}

.acle2-access-rule{
	width: 100%;
}

#acle2-access-table tr.odd {
	background-color: #F9F9F9; 
	
}

#acle2-bottom-buttons{
	margin-left: 5px;
	width: 100%;
	height: 150px;
}

#acle2-button-remove-multi-access{
	margin-left: 10px;
}

#acle2-rules{
	width: 100%;
}

#acle2-rule-list{
	display: inline-block;
	width: 47%;
	height: 500px;
	margin-top: 0px;
	overflow: auto;
    list-style: none outside none;
    padding-left: 0;
}

#acle2-rule-list li{
	padding: 2px 4px;
	cursor: pointer;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#acle2-rule-list .acle2-rule-list-entry{
	color: #000;
}

#acle2-rule-list .acle2-canDelete{
	color: #bbb;
}

#acle2-rule-list li:nth-child(odd) {
	background-color:#eee; 
}

#acle2-rule-list li:nth-child(even) {
	background-color:#fff; 
}

#acle2-rule-list > li.acle2-rule-selected{
	background-color: #3276B1;
	color: #fff;
}

#acle2-rule-detail-table{
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.acle2-rule-detail-table > dd{
	margin-bottom: 10px;
}

.acle2-rule-detail-table > dt{
	width: 110px;
	float: left;
	text-align: right;
}

.acle2-rule-detail-table > dd{
	margin-left: 120px;
}

.acle2-rule-detail-table textarea{
	height: 135px;
}

.acle2-rule-detail-table .acle2-icon{
	float: right;
	margin-left: 10px;
}

.acle2-lightbox-alert-area{
	text-align: center;
}

.acle2-filter-hide{
	display: none;
}

.acle2-page-hide{
	display: none;
}

.form-group.has-error .select2-container .select2-choice{
	color: #B94A48;
	border-color: #B94A48;
}

#acle2-loading{
	text-align: center;
}

#acle2-loading .acl2-spinner{
	cursor:	progress;
	font-size: 64px;
	animation: 5s linear 0s normal none infinite spin;
}

.acle2-faded{
	opacity: 0.3;
}

#acle2-lightbox-multi-edit-plus{
	margin-top: -2px;
}

#acle2-lightbox-multi-edit-text{
	display: inline-block;
	font-size: 16px;
}

#acle2-lightbox-multi-edit-select{
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}

#acle2-lightbox-multi-delete-main > div > h4 > label{
    font-size: 17.5px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 5px;
}
#acle2-lightbox-multi-delete-list{
	margin-top: 10px;
}

#mycore-acl-editor2 .pagination > li {
    display: inline;
}

#acle2-page-buttons{
	display: table;
	margin-top: 35px;
}

#acle2-page-buttons > div{
	display: table-row;
}

#acle2-elem-per-page-input{
	display: inline;
    margin-left: 5px;
    width: 60px;
}

#acle2-button-access-filter{
    margin-left: 15px;
    margin-top: 5px
}

.input-xxlarge {
  width: 530px;
}

.acle2-delete-warning{
	border-left: 5px solid #F1E7BC;
	margin-bottom: 0px;
}

.acle2-button-filter-access{
	opacity: 0;
	padding-top: 5px;
}

.acle2-table-access-entry:hover .acle2-button-filter-access{
	opacity: 1;
}

.acle2-button-edit{
	opacity: 0;
	position: absolute;
	right: 0;
	top: 10px;
}

.acle2-table-access-entry-td:hover .acle2-button-edit{
	opacity: 1;
}

/*typeahead.js-bootstrap.css */
.twitter-typeahead {
    width: 100%;
    position: relative;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.5;
    padding: 5px 10px;
    font-size: 12px
}

.twitter-typeahead .tt-hint {
    color: #a1a1a1;
    z-index: 1;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 3px 3px 3px 3px;;
}

.input-group-addon + .twitter-typeahead > .tt-query {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.input-group-appended > .twitter-typeahead > .tt-query {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}
