<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %c{1} %m%n"/>
<!--       <PatternLayout pattern="%C{1}.%M %m %ex%n"/> -->
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.hibernate" level="error" additivity="false" />
  </Loggers>
</Configuration>