/* Permalink */

.viewerContainer.max .permalinkArea {
	display: none;
	font-weight: normal;
	height: 40px;
	left: 400px;
	top: 42px;
	opacity: 0.85;
	position: absolute;
	text-align: left;
	width: 400px;
	padding: 5px;
	background-color: #EEE;
	border: 1px solid #AAA;
	z-index: 50;
}

div.urnBox:not([style*="none;"])~ div.permalinkArea {
	top: 73px;
} 

.viewerContainer .permalinkArea .content {
	background-color: #efefef;
	width:100%;
	height:100%;
	overflow:scroll;
	border: 0;
}
