#printPreview {
	width: 210px;
	height: 297px;
	border: solid black 1px;
	text-align: center;
	vertical-align: center;
	margin: 0 auto 0 0;
}

#printForm td {
	vertical-align: middle;
}

div.validation {
	color: red;
	text-align: center;
}

#createpdf-container input.simplemodal-close {
	padding-left: 24px;
	height: 28px;
	background: 2px 2px no-repeat url('dialog-cancel.png');
}

#createpdf-container input.ok {
	padding-left: 24px;
	height: 28px;
	background: 2px 2px no-repeat url('dialog-ok.png');
}

}
div.modal-content,div.modal-data {
	display: none;
}

/* Overlay */
#createpdf-overlay {
	background-color: #000;
	cursor: wait;
}

/* Container */
#createpdf-container {
	background-color: #eee;
	color: #000;
	font: 16px/24px "Lucida Grande", Segoe, Arial, sans-serif;
	padding-bottom: 4px;
	width: 600px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-radius: 0 0 6px 6px;
	-moz-box-shadow: 0 0 64px #000;
	-webkit-box-shadow: 0 0 64px #000;
	box-shadow: 0 0 64px #000;
}

#createpdf-container a {
	color: #444;
}

#createpdf-container .modal-title {
	color: #000;
	background-color: #ddd;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding: 6px 8px;
	text-shadow: 0 1px 0 #f4f4f4;
}

#createpdf-container .close {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

#createpdf-container .close a {
	display: block;
	color: #777;
	font-weight: bold;
	padding: 6px 12px 0;
	text-decoration: none;
	text-shadow: 0 1px 0 #f4f4f4;
}

#createpdf-container .close a:hover {
	color: #000;
}

#createpdf-container .modal-data {
	font-size: 12px;
	padding: 6px 12px;
}

#createpdf-container h2 {
	margin: 10px 0 6px;
}

#createpdf-container p {
	margin-bottom: 10px;
}

#createpdf-container span {
	color: #777;
}

div.min div.pdfCreator {
	display: none;
}