## Template copied from
## http://svn.apache.org/repos/asf/maven/plugins/trunk/maven-changes-plugin/src/main/resources/org/apache/maven/plugin/announcement/announcement.vm
The ${developmentTeam} is pleased to announce the ${finalName} (${release.getDescription()}) release!

${introduction}
#set($issueTracker="https://sourceforge.net/p/mycore/bugs/")

#if ($release.getActions().size() == 0)
No changes defined in this version.
#else
Changes in this version include:

#if ($release.getActions('add').size() !=0)
New features:
#foreach($actionItem in $release.getActions('add'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
o ${action} #if($!issue != "") Issue: $issue ($issueTracker$issue). #end#if($!dueto != "")Thanks to $dueto. #end

#foreach($fix in $actionItem.getFixedIssues())
  - Issue: $fix.getIssue() ($issueTracker$fix.getIssue())
#end

#set($issue="")
#set($dueto="")
#end 
#end

#if ($release.getActions('fix').size() !=0)
Fixed Bugs:
#foreach($actionItem in $release.getActions('fix'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
#if ($actionItem.getDate())
#set($date=$actionItem.getDate())
#else
#set($date="")
#end
o ${action} #if($!issue != "") Issue: $issue ($issueTracker$issue). #end#if($!dueto != "")Thanks to $dueto. #end#if($!date != "") ($date)#end

#foreach($fix in $actionItem.getFixedIssues())
  - Issue: $fix.getIssue() ($issueTracker$fix.getIssue())
#end

#set($issue="")
#set($dueto="")
#set($date="")
#end
#end

#if ($release.getActions('update').size() !=0)
Changes:
#foreach($actionItem in $release.getActions('update'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
o ${action} #if($!issue != "") Issue: $issue ($issueTracker$issue). #end#if($!dueto != "")Thanks to $dueto. #end

#foreach($fix in $actionItem.getFixedIssues())
  - Issue: $fix.getIssue() ($issueTracker$fix.getIssue())
#end

#set($issue="")
#set($dueto="")
#end
#end

#if ($release.getActions('remove').size() !=0)
Removed:
#foreach($actionItem in $release.getActions('remove'))
#set($action=$actionItem.getAction())
#if ($actionItem.getIssue())
#set($issue=$actionItem.getIssue())
#else
#set($issue="")
#end
#if ($actionItem.getDueTo())
#set($dueto=$actionItem.getDueTo())
#else
#set($dueto="")
#end
o ${action} #if($!issue != "") Issue: $issue ($issueTracker$issue). #end#if($!dueto != "")Thanks to $dueto. #end

#foreach($fix in $actionItem.getFixedIssues())
  - Issue: $fix.getIssue() ($issueTracker$fix.getIssue())
#end

#set($issue="")
#set($dueto="")
#end
#end
## End of main loop
#end
#if ($urlDownload)

For a manual installation, you can download the ${finalName} here:
${urlDownload}
#end

Goodbye, and remember: "Alles wird gut."
-The ${developmentTeam}
