## Template copied from
## http://svn.apache.org/repos/asf/maven/plugins/trunk/maven-changes-plugin/src/main/resources/org/apache/maven/plugin/announcement/announcement.vm
##The ${developmentTeam} is pleased to announce the ${finalName} ${release.version} #if($release.description) (${release.description})#end release!
The ${developmentTeam} is pleased to announce the MyCoRe ${release.version} (LTS 2017 Update 1) release!

${introduction}

http://www.mycore.de

You should specify the version in your project's plugin configuration:

<dependency>
  <groupId>${groupId}</groupId>
  <artifactId>mycore-{component}</artifactId>
  <version>${version}</version>
</dependency>

Release Notes - ${project.name} - Version ${version}
#if ($release.getActions().size() == 0)
No changes defined in this version.
#else
#set($issueTracker="https://mycore.atlassian.net/browse/")
#if ($release.getActions('fix').size() !=0)

Bug
#foreach($actionItem in $release.getActions('fix'))
o [$actionItem.getIssue()] $actionItem.getAction()
  -- $issueTracker$actionItem.getIssue()
#end
#end
#if ($release.getActions('update').size() !=0)

Improvement
#foreach($actionItem in $release.getActions('update'))
o [$actionItem.getIssue()] $actionItem.getAction()
  -- $issueTracker$actionItem.getIssue()
#end
#end
#if ($release.getActions('add').size() !=0)

New Feature
#foreach($actionItem in $release.getActions('add'))
o [$actionItem.getIssue()] $actionItem.getAction()
  -- $issueTracker$actionItem.getIssue()
#end
#end
#if ($release.getActions('').size() !=0)

Task
#foreach($actionItem in $release.getActions(''))
o [$actionItem.getIssue()] $actionItem.getAction()
  -- $issueTracker$actionItem.getIssue()
#end
#end
## End of main loop
#end
#if ($urlDownload)

For a manual installation, you can download the ${finalName} here:
${urlDownload}
#end

Goodbye, and remember: "Alles wird gut."
-The ${developmentTeam}
