
<!-- **************************************************************** -->
<!-- Servlets and mappings of mycore-sword -->
<!-- **************************************************************** -->

<servlet>
	<servlet-name>SwordServiceDocumentServlet</servlet-name>
	<servlet-class>org.mycore.sword.MCRSWORDServiceDocumentServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>AtomDocumentServlet</servlet-name>
	<servlet-class>org.purl.sword.server.AtomDocumentServlet</servlet-class>
</servlet>
<servlet>
	<servlet-name>MCRSWORDDepositServlet</servlet-name>
	<servlet-class>org.mycore.sword.MCRSWORDDepositServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>AtomDocumentServlet</servlet-name>
	<url-pattern>/servlets/AtomDocument</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>SwordServiceDocumentServlet</servlet-name>
	<url-pattern>/servlets/SwordServiceDocument</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>MCRSWORDDepositServlet</servlet-name>
	<url-pattern>/servlets/SwordDeposit</url-pattern>
</servlet-mapping>
