/* Description for z-Index:
	<10 outside the viewer (example: chapter -> 5);
	10 - main viewerContainer
	.
	20 - viewer, base Index
	.
	30 - viewer-surface, so move the image through the window
	.
	.
	50 - above viewer, for buttons or additional Moduls
	60 - MODUL: overview, is alone in foreground
*/

/* Main Container to embedd in mycore */
/* chapter above */
.chapterContainer {
	height:200px;
	width:100%;
	margin-bottom:5px;
	z-index:5;
}

.viewerContainer {
	position:relative;
	/*width:100%;*/
	left: 0px;
	z-index: 10;
	visibility:visible;
}
.viewerContainer.max {
	position: fixed;
	/*height: 100%;*/
	top: 46px; /* header height + borderTop + borderBottom*/
}
.viewerContainer.min {
	position: relative;
	/*height: 500px;*/
	top: 0px;
}
.viewerContainer.min .scrollH, .viewerContainer.min .scrollV {
	visibility:hidden;
}
.viewerContainer.max .scrollH, .viewerContainer.max .scrollV {
	visibility:visible;
}
/* viewer */
.viewer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width:100%;
	/*height:100%;*/
	/* NOTE: the size and width should be set dynamically when initialized */
	background-color: #ffffff;
	z-index:20;
	overflow: hidden;
}
.viewer .well, .viewer .surface {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/* FIXME: let's apply this in GSIV.js */
	cursor: -moz-grab;
		_cursor: url(cursor/grab.cur);
}
.viewer .surface {
	z-index: 30;
	/*background: url(../gfx/center.gif) no-repeat center center;*/
		_background: url(../blank.gif) no-repeat center center; /* NOTE: required for IE to"see" the surface */
}
.viewer .well {
	overflow: hidden;
}
.viewer .well .tile {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	/*-moz-outline: 1px dashed #FF0000;*/
}
/*.viewer .controls {
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 0px;
	margin: 0px;
	padding: 0 0 0 0px;
	z-index: 31;
}
.viewer .controls a
{
	color: #000000;
	text-decoration: none;
	-moz-outline: none;	
}
.viewer .controls a img {
	border: 0;
	vertical-align: middle;
}
.viewer .controls a:active {
	color: #FF0000;
}*/


/*
#body {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	overflow: hidden;
}*/

/* ButtonSurface */
.buttonSurface {
	/*z-index: 10;*/
}
.buttonSurface.max {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	visibility:visible;
}
.buttonSurface.min {
	position:relative;
	visibility:hidden;
}
/* Header */
.buttonSurface .header {
	position: relative;
	left: 0px;
	top: 0px;
	background-image: url('scaled/header/horizontal.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 44px;
	border: 1px solid #000000;
	z-index: 20;
	/*display: none;*/
}

.buttonSurface.max .header { /* needed by IE8 */
	position: absolute;
	display: block;
}
.buttonSurface .header .headerLeft {
	position: relative;
	top: 0px;
	left: 0px;
	height: 44px;
	width: 200px;
	background-color: #c0c1c3;
	float: left;
}
.buttonSurface .header .headerLCBorder {
	position: relative;
	top: 4px;
	height: 36px;
	width: 2px;
	background-color: #858688;
	float: left;
}
.buttonSurface .header .headerCenter {
	position: relative;
	top:0px;
	height: 44px;
	width: 200px;
	background-color: #c0c1c3;
	float: left;
}
.buttonSurface.max .header .headerCenter {
	width: 750px;
}
.buttonSurface .header .headerCRBorder {
	position: relative;
	top: 4px;
	height: 36px;
	width: 2px;
	background-color: #858688;
	float: left;
}
.buttonSurface .header .headerRight {
	top: 0px;
	right: 0px;
	left: 0px;
	height: 44px;
	background-color: #c0c1c3;
}

/* HeaderElements */
/*URL*/
.buttonSurface.max .BSE_permalink {
	position: absolute;
	top: 10px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -420px -0px;
	height:24px;
	width:24px;
	left:970px;
	z-index: 50;
	cursor: pointer;
}
.buttonSurface .BSE_url {
	position: absolute;
	top: 11px;
	left: 1000px;
	z-index: 50;
	display: none;
	visibility: hidden;
}
.buttonSurface.max .BSE_url {
	visibility: visible;
}
.buttonSurface .BSE_permaUrl {
	width:200px;
	height: 16px;
	float: left;
	font-size: 12px;
	background-color: #FCFEFF;
	visibility: hidden;
}
.buttonSurface.max .BSE_permaUrl {
	visibility: visible;
}
.buttonSurface.max .BSE_displayOut {
	position:relative;
	left:3px;
	top:0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -450px -0px;
	width:11px;
	height:11px;
	z-index: 50;
	cursor: pointer;
	float: left;
}

/* Page backwards*/
.buttonSurface .BSE_backward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -60px -0px;
	height: 24px;
	width: 24px;
	left: 0px;
	/*z-index: 32;*/
	cursor: pointer;
}
.buttonSurface .BSE_backwardBehind {
	position: absolute;
	top: 10px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -90px -0px;
	height: 24px;
	width: 24px;
	left: 310px;
	z-index: 50;
}

/* Page forward*/
.buttonSurface .BSE_forward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -120px -0px;
	height: 24px;
	width: 24px;
	left: 0px;
	z-index: 50;
	cursor: pointer;
}
.buttonSurface .BSE_forwardBehind {
	position: absolute;
	top: 10px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -150px -0px;
	height: 24px;
	width: 24px;
	left: 470px;
	z-index: 50;
}

.viewerContainer .buttonSurface {
	width:100%;
	height:100%;
}
.viewerContainer .header {
	display:none;
}
.viewerContainer.min .buttonSurface {
	visibility:visible;
}

.viewerContainer.max .buttonSurface {
	visibility:hidden;
}

.viewerContainer .BSE_backward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -60px -0px;
	height: 24px;
	width: 24px;
	left: 0px;
	z-index: 32;
	cursor: pointer;
}
.viewerContainer .BSE_backwardBehind {
	position: absolute;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -90px -0px;
	height: 24px;
	width: 24px;
	left: 0px;
	z-index: 50;
	visibility:hidden;
}

/* Page forward*/
.viewerContainer .BSE_forward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -120px -0px;
	height: 24px;
	width: 24px;
	left: 0px;
	z-index: 50;
	cursor: pointer;
}
.viewerContainer .BSE_forwardBehind {
	position: absolute;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -150px -0px;
	height: 24px;
	width: 24px;
	right:0px;
	left:auto;
	z-index: 50;
	visibility:hidden;
}

.viewerContainer.min:hover .BSE_forwardBehind, .viewerContainer.min:hover .BSE_backwardBehind {
	visibility:visible;
}
	
/* MODUL: pageInput */
/*.buttonSurface .BSE_pageInput1 {
	position: absolute;
	top: 5px;
	left: 13%;
	height: 20px;
	width: 124px;
	background-color: #FCFEFF;
	border: 1px solid black;
	z-index: 32;
	visibility: hidden;
}
.buttonSurface.max .BSE_pageInput1 {
	visibility: visible;
}
.buttonSurface.max .BSE_pageInput1 .input {
	height: 20px;
	width: 55px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.buttonSurface.max .BSE_pageInput1 .slash {	
	height: 20px;
	width: 14px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.buttonSurface.max .BSE_pageInput1 .amount {	
	height: 20px;
	width: 55px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}*/

/* MODUL: pageForm */
.buttonSurface .BSE_pageForm1 {
	position: absolute;
	top: 10px;
	left: 340px;
	visibility: hidden;
	z-index: 50;
}
.buttonSurface.max .BSE_pageForm1 {
	visibility: visible;
}
.buttonSurface .BSE_pageFormSelect1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 124px;
	height: 20px;
}
.buttonSurface .BSE_pageFormOption1 {
	background-color: #FCFEFF;
}

/* Entrance-Buttons - Chapter & Overview */
.buttonSurface.max .BSE_openThumbs {
	position: absolute;
	top: 10px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -360px -0px;
	height: 24px;
	width: 24px;
	left: 220px;
	z-index: 50;
	cursor: pointer;
}
.buttonSurface.max .BSE_chapterOpener {
	position: absolute;
	top: 10px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -390px -0px;
	height: 24px;
	width: 24px;
	left: 264px;
	z-index: 50;
	cursor: pointer;
}


/* Navigation Elements */
/* Vollbild-Button */
/*.maximize {*/
.buttonSurface .BSE_fullView, .buttonSurface .BSE_normalView {	
	position: absolute;
	top: 10px;
	height: 24px;
	width: 24px;
	right: 10px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	z-index: 50;
}

.buttonSurface .BSE_fullView {
	display: block;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -0px -0px;
}
.buttonSurface .BSE_normalView {
	display: none;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -30px -0px;
}

/* MODUL: ZoomBar */
/* Main */
.buttonSurface .zoomBar {
	position: absolute;
	top: 8px;
	left: 340px;
	height: 20px;
	width: 124px;
	z-index: 50;
	visibility: hidden;
}
.buttonSurface.max .zoomBar {
	visibility: visible;
}

/* Top-Button */
.zoomBar .start {	
	height: 20px;
	width: 20px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1290px -0px;
	/*z-index: 32;*/
	cursor: pointer;
	display: none;
}
.zoomBar .startBehind {	
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1320px -0px;
	/*z-index: 32;*/
}
/* Bottom-Button */
.zoomBar .end {	
	height: 20px;
	width: 20px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1350px -0px;
	/*z-index: 32;*/
	cursor: pointer;
	display: none;
}
.zoomBar .endBehind {	
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1380px -0px;
	/*z-index: 32;*/
}
/* Scroll-Area*/
.zoomBar .center {
	height: 20px;
	width: 84px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	/*z-index: 32;*/
}
.zoomBar .spaceStart {
	height: 20px;
	width: 5px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1440px -0px;
}
.zoomBar .spaceEnd {
	height: 20px;
	width: 5px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1470px -0px;
}

/* scaleLine */
.zoomBar .scale {	
	position: relative;
	height:	20px;
	width: 74px;
	background-image: url('scaled/zoomBar/center.png');
}

/* single scaleLine */
.zoomBar .scaleLine {
	position: absolute;
	background-color: #555555;
	left:0px;
	width: 4px;
	height: 20px;
}

/* bar */
.zoomBar .bar {
	position: absolute;
	left: -5000px;
	top: -3px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1410px -0px;
	height: 26px;
	width: 14px;
	/*z-index: 32;*/
	line-height: 0px;
}

/* additional ZoomIn / ZoomOut (not integrated in Zoombar)*/
.buttonSurface.max .BSE_zoomIn {	
	position: absolute;
	top: 0px;
	right: 0px;
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -180px -0px;
	/*z-index: 32;*/
	cursor: pointer;
}
.buttonSurface.max .BSE_zoomInBehind {
	position: absolute;
	top: 10px;
	left: 30px;
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -210px -0px;
	z-index: 50;	
}
.buttonSurface.max .BSE_zoomOut {	
	position: absolute;
	top: 0px;
	right: 0px;
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -240px -0px;
	/*z-index: 32;*/
	cursor: pointer;
}
.buttonSurface.max .BSE_zoomOutBehind {	
	position: absolute;
	top: 10px;
	left: 74px;
	height: 24px;
	width: 24px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -270px -0px;
	z-index: 50;
}

/* Buttons - fitToScreen & fitToWidth */
.buttonSurface.max .BSE_toWidth {
 	position: absolute;
	top: 10px;
 	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -300px -0px;
 	height: 24px;
 	width: 24px;
 	left: 120px;
 	z-index: 50;
 	cursor: pointer;
}
.buttonSurface.max .BSE_toScreen {
 	position: absolute;
 	top: 10px;
 	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -330px -0px;
 	height: 24px;
 	width: 24px;
 	left: 164px;
 	z-index: 50;
 	cursor: pointer;
}

/* Preview (current shown Image) */
/* control Button */
.dampNormal {
	position:absolute;
	bottom: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1260px -0px;
	z-index: 50;
}
.dampNormal .hide {
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1230px -0px;
}

.dampNormal .show {
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1200px -0px;
	display: none;
}

/* image */
.viewerContainer .thumbNormal {
	background-color: #000000;
	position: absolute;
	right: 16px;
	bottom: 16px;
	vertical-align: middle;
	font-weight: bold;
	border: 0px solid #000000;
	z-index: 50;
}
.viewerContainer.min .thumbNormal, .viewerContainer.min .dampNormal {
	visibility:hidden;
}
.viewerContainer.max .thumbNormal, .viewerContainer.max .dampNormal {
	visibility:visible;
}
/* current Cut */
.ausschnittNormal {
	background-image: url('scaled/thumbnail/cutout.png');
	position: absolute;
	left:0px;
	top:0px;
	height:10px;
	width:10px;
	display: block;
	border:1px solid #000000;
	/*z-index:30;*/
	cursor: pointer;
}

/* ScrollBar general */
.start {
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0px;
}
.end {
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0px;
}

/* ScrollBar Horizontal */

/* Main Container */
.scrollH {
	position: absolute;
	height:15px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index:50;
}

/* Start & End - Buttons */
.scrollH .start {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -540px -0px;
	width:15px;
	height:15px;
}
.scrollH .end {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -570px -0px;
	width:15px;
	height:15px;
}

/* Scroll Area */
.scrollH .empty { /* Main Container */
	position:relative;
	height:15px;
}
.scrollH .spaceStart {
}
.scrollH .eHorizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/eHorizontal.png');
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height: 15px;
}
.scrollH .spaceEnd {
}
.scrollHBar { /* contains ScrollBar */
	position:absolute;
}

/* ScrollBar */
.scrollHBar .barStart {
	/*background-repeat:repeat-y;*/
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -660px -0px;
	position:relative;
	float: left;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}
.scrollHBar .horizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/horizontal.png');
	position:relative;
	float: left;
	left:100%;
	height:15px;
	padding:0px;
	margin:0px;
}
.scrollHBar .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -690px -0px;
	position:relative;
	float: left;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}


/* ScrollBar Vertical */
/* Main Container */
.scrollV, .scrollOVV {
	width: 15px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 50;
	line-height: 0px;
}

/* Start & End - Buttons */
.scrollV .start, .scrollOVV .start {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -510px -0px;
	width:15px;
	height:15px;
}
.scrollV .end, .scrollOVV .end {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -480px -0px;
	width:15px;
	height:15px;
}

/* Scroll Area */
.scrollV .empty, .scrollOVV .empty {
	position:relative;
	width:15px;
}
.scrollV .spaceStart {
	background-color:#000000;
	width:0px;
	height:0px;
}
.scrollV .eVertical, .scrollOVV .empty {
	position:relative;
	background-repeat:repeat-y;
	background-image: url('scaled/scrollbars/eVertical.png');
	padding:0px;
	margin:0px;
 	height:100%;
 	width:15px;
	vertical-align: top;
}
.scrollV .spaceEnd, .scrollOVV .spaceEnd {
	background-color:#000000;
	width:0px;
	height:0px;
}
.scrollVBar, .scrollOVVBar {  /* contains ScrollBar */
	position:absolute;
}

/* ScrollBar */
.scrollVBar .barStart, .scrollOVVBar .barStart {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -600px -0px;
	position:relative;
	height: 2px;
	width: 15px;
	margin: 0px;
	padding: 0px;
}
.scrollVBar .vertical, .scrollOVVBar .vertical {
	background-repeat:repeat-y;
	background-image: url('scaled/scrollbars/vertical.png');
	position:relative;
	height:100%;
	width: 15px;
	margin: 0px;
	padding: 0px;
}
.scrollVBar .barEnd, .scrollOVVBar .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -630px -0px;
	position:relative;
	height: 2px;
	width: 15px;
	margin: 0px;
	padding: 0px;
}


/* background Preload (current shown Image) */
.preload {
	position:absolute;
	overflow:hidden;
}


/* Chapter Overview */
/* Main Div*/
.chapter1 {
	position: relative;
	background-color: #efefef;
	top: -200px;
	left: 260px;
	width: 400px;
	height: 200px; /* also dynamic - setSize (design.xml) */
	overflow: hidden;
	text-align:left;
	font-weight:normal;
	visibility: hidden;
	z-index: 50;
	opacity: 0.85;

}

.chapter1 .chapter1InPlace {
	top: 0px;
	left: 260px;
}

.chapter1 .chapter1OutPlace {
	top: -200px;
	left: 260px;
}

/* Content */
.chapter1_content {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px; /* gewisser Abstand besteht in jedem Fall (resultiert aus .chapter1 .chapter) */
	right: 50px;
/*
	font-size: 19px;
	line-height: 22px;
	font-family: Times;
*/
	cursor: pointer;
	overflow: hidden;
}

/* Entries */
.chapter1 .chapter {
	position: relative;
	display: none;
	border-left: 1px solid #cccccc;
	left: 10px;
	right: 10px; /* Abstand zwischen Textende und dem rechten Rand des Content Div's ||| auch fuer Highlight ||| kein wirklicher Abstand nach rechts*/
/*	z-index: 40;*/
	background-color:#efefef;
	overflow:hidden;
	/*width:auto;*/
	white-space:nowrap;
	padding-left:3px;
	color:#000000;
}

/* Entry Symbols */
.chapter1 .pageImageSymbol {
	position: relative;
	top: 3px;
	height: 11px;
	width: 11px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1170px -0px;
	float: left;
}
.chapter1 .chapterImageSymbolMinus {
	position: relative;
	top: 3px;
	height: 11px;
	width: 11px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1140px -0px;
	float: left;
}
.chapter1 .chapterImageSymbolPlus {
	position: relative;
	top: 3px;
	height: 11px;
	width: 11px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1110px -0px;
	float: left;
}

/* hover & highlight */
.chapter1 .hover {
	background-color: #E2E6E9;
}
.chapter1 .highlight{
	background-color: #85a6bc;
}

/* chapter Sort Button */
.chapter1_chapSort {
	position: absolute;
	right: 29px;
	top: 10px;
	width: 13px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1080px -0px;
	cursor: pointer;
}

/* Chapter Scrollbar Y */
/*Main Container*/
.scrollChapV {
	position: absolute;
	right:0px;
	top:0px;
	width:15px;
}

/* Up / Down - Buttons */
.scrollChapV .start {
	height:15px;
	width:15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -930px -0px;
}
.scrollChapV .end {
	height:15px;
	width:15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -900px -0px;
}

/* ScrollArea Main */
.scrollChapV .empty {
	position:relative;
	width:16px;
}

/* ScrollArea Single Parts */
.scrollChapV .spaceStart {
	height:0px;
	width:0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1050px -0px;
}
.scrollChapV .eVertical {
	position:relative;
	background-image: url('scaled/chapter/eVertical.png');
	background-repeat:repeat-y;
	padding:0px;
	margin:0px;
 	height:100%;
 	width:15px;
	vertical-align: top;
}
.scrollChapV .spaceEnd {
	height:0px;
	width:0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1020px -0px;
}

/* ScrollBar Main */
.scrollChapVBar {
	position:absolute;
}

/* ScrollBar Single Parts */
.scrollChapVBar .barStart {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -990px -0px;
	position:relative;
	height: 2px;
	margin: 0px;
	padding: 0px;
}
.scrollChapVBar .vertical {
	position:relative;
	background-image: url('scaled/chapter/vertical.png');
	background-repeat:repeat-y;
	height:100%;
	width: 15px;
	margin: 0px;
	padding: 0px;
}
.scrollChapVBar .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -960px -0px;
	position:relative;
	height: 2px;
	margin: 0px;
	padding: 0px;
}

/* Chapter Scrollbar Y */
/*Main Container*/
.scrollChapH {
	position: absolute;
	left:10px;
	bottom:0px;
	height:15px;
}

/* Up / Down - Buttons */
.scrollChapH .start {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -540px -0px;
	width:15px;
	height:15px;
}
.scrollChapH .end {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -570px -0px;
	width:15px;
	height:15px;
}

/* Scroll Area */
.scrollChapH .empty { /* Main Container */
	position:relative;
	height:15px;
}
.scrollChapH .spaceStart {
}
.scrollChapH .eHorizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/eHorizontal.png');
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height: 15px;
}
.scrollChapH .spaceEnd {
}
.scrollChapHBar { /* contains ScrollBar */
	position:absolute;
}

/* ScrollBar */
.scrollChapHBar .barStart {
	/*background-repeat:repeat-y;*/
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -660px -0px;
	position:relative;
	float: left;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}
.scrollChapHBar .horizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/horizontal.png');
	position:relative;
	float: left;
	left:100%;
	height:15px;
	padding:0px;
	margin:0px;
}
.scrollChapHBar .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -690px -0px;
	position:relative;
	float: left;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}

/* Page Overview */
/* Main Container */
.overview {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border:0px solid #000000;
	background-color: #3A596D;
	z-index:60;
}

/* Single Page Div's */
.overview #divBox { /* Main Div's with Image & Title Content */
	position: absolute;
	top: 3px;
	height: 200px;
	width: 200px; /* For values around 50 the image disappears*/

	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	/*If no Border is wanted set these values to zero, else IE will throw Invalid Argument Error on loading*/
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;

	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;

	background-color: #E2E6E9;
}
#previewImage {	
	width: 180px;
	height: 160px;
}
.overview .infoDiv {
	width: 196px;
	bottom: 9px;

	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;

	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;

	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;

	text-align: center;
	vertical-align: middle;

	font-weight: bold;
	color: #3A596D;
	background-color: transparent;
	overflow:hidden;
}

.blackBlank {
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:100;
	background-color:black;
	display:none;
}
