<!-- **************************************************************** -->
<!-- Servlets and mappings of iview                                   -->
<!-- **************************************************************** -->

<servlet id="MCRImageServiceServlet">
  <servlet-name>MCRImageServiceServlet</servlet-name>
  <servlet-class>org.mycore.services.imaging.servlet.MCRImageServiceServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRImageServiceServlet</servlet-name>
  <url-pattern>/servlets/MCRImageServiceServlet/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRImageServiceServlet</servlet-name>
  <url-pattern>/getImage/*</url-pattern>
</servlet-mapping>
