
<!-- **************************************************************** -->
<!-- Servlets and mappings of mycore-oai -->
<!-- **************************************************************** -->

<servlet id="OAI2Provider">
  <servlet-name>OAI2</servlet-name>
  <servlet-class>org.mycore.oai.MCROAIDataProvider</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>OAI2</servlet-name>
  <url-pattern>/oai2</url-pattern>
</servlet-mapping>