/* Toolbar
----------------------------------*/

.viewerContainer * {
box-sizing: content-box;
-moz-box-sizing: content-box;
}

/* properbly .max */
.viewerContainer .toolbars {
	width: 100%;
	height: 44px;
	font-size: 11px;
	z-index: 50;
	margin: 0;
	padding: 0;
	list-style: none;
}

.viewerContainer.max .toolbars a:hover, a:focus, a:active {
	text-decoration : none;
}

.viewerContainer .toolbars .toolbar {
	position: relative;
	padding: 6px 2px;
}
.viewerContainer.min .toolbars .toolbar {
	top: 0px;
	left: 0px;
	height: 30px;

	background-image: url(../blank.gif);
	/*background-image: none;*/
	background-color: transparent;
	border: 0px solid black;
}

.viewerContainer.max .toolbars .toolbar {
	top: 0px !important;
	left: 0px;
	height: 30px;
	border: 1px solid #AAAAAA;
}

.viewerContainer.max .toolbars .toolbar .hidden {
	display: none;
}

/* the Container, who holds the content for the drop-down-menu */
.positionHelper {
	z-index: 50;
	font-size: 11px;
	line-height: normal;
}

.positionHelper a {
	line-height: normal;
}



/* Icon
----------------------------------*/

/* states and images */
.iview2-icon { width: 24px !important; height: 24px !important; background-image: url(iview2.toolbar.png) !important/*{iconsContent}*/; }
.ui-widget-content .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsContent}*/; }
.ui-widget-header .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsHeader}*/; }
.ui-state-default .iview2-icon { background-image: url(iview2.toolbar.png) !important/*{iconsDefault}*/; }
.ui-state-hover .iview2-icon, .ui-state-focus .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsHover}*/; }
.ui-state-active .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsActive}*/; }
.ui-state-highlight .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsHighlight}*/; }
.ui-state-error .iview2-icon, .ui-state-error-text .iview2-icon {background-image: url(iview2.toolbar.png) !important/*{iconsError}*/; }

.viewerContainer .loading {
	background-image: url('loader.gif') !important;
	width: 24px !important;
	height: 24px !important;
	background-position: 50% 50%;
}

/* positioning */
.iview2-icon-zoomIn { background-position: -150px 0 !important; }
.iview2-icon-zoomOut { background-position: -210px 0 !important; }
.iview2-icon-fitToWidth { background-position: -270px 0 !important; }
.iview2-icon-fitToScreen { background-position: -300px 0 !important; }
.iview2-icon-thumbnailPanel { background-position: -330px 0 !important; }
.iview2-icon-chapter { background-position: -360px 0 !important; }
.iview2-icon-backward { background-position: -30px 0 !important; }
.iview2-icon-dropDownArrow { background-position: -420px 0 !important; }
.iview2-icon-forward { background-position: -90px 0 !important; }
.iview2-icon-permalink { background-position: -390px 0 !important; }
.iview2-icon-close { background-position: 0 0 !important; }
.iview2-icon-empty { background-position: 30 0 !important; width:0px !important; }
.iview2-icon-pdf { background-position: -450px 0 !important; }
.iview2-icon-rotate { background-position: -480px 0 !important; }

/* states and images */
.iview2-icon { display: block !important; text-indent: -99999px !important; overflow: hidden !important; background-repeat: no-repeat !important; }



/* Button
----------------------------------*/

.viewerContainer .ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center; zoom: 1;
	overflow: visible;
	float: left;
} /* the overflow property removes extra width in IE */

.viewerContainer .ui-button-icon-only {
	width: 3.2em;
} /* to make room for the icon, a width needs to be set here */

.viewerContainer button.ui-button-icon-only {
	width: 3.4em;
} /* button elements seem to need a little more width */

.viewerContainer .ui-button-icons-only {
	width: 4em;
} 

.viewerContainer button.ui-button-icons-only {
	width: 4.2em;
} 

/*button text element */
.viewerContainer .ui-button .ui-button-text {
	display: block;
	line-height: 1.4;
}

.viewerContainer .ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}

..viewerContainer .ui-button-icon-only .ui-button-text, .viewerContainer .ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}

.viewerContainer .ui-button-text-icon .ui-button-text, .viewerContainer .ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 1.8em;
}

.viewerContainer .ui-button-text-icons .ui-button-text {
	padding-right: 2em;
}

/* no icon support for input elements, provide padding by default */
.viewerContainer input.ui-button {
	padding: .4em 1em;
}


/*button icon element(s) */
.viewerContainer .ui-button-icon-only .ui-icon, .viewerContainer .ui-button-text-icon .ui-icon, .viewerContainer .ui-button-text-icons .ui-icon, .viewerContainer .ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -12px;
}

.viewerContainer .ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -12px; 
}

.viewerContainer .ui-button-text-icon .ui-icon-primary, .viewerContainer .ui-button-text-icons .ui-icon-primary, .viewerContainer .ui-button-icons-only .ui-icon-primary {
	left: .5em;
}

.viewerContainer .ui-button-text-icons .ui-button-icon-secondary, .viewerContainer .ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

.viewerContainer .ui-button-text {
	padding-left: 10px;
	padding-right: 30px;
}

.iview2-button-icon-dropdown .ui-button-text {
	padding-left: 10px;
	padding-right: 30px;
	color: black;
}

.viewerContainer .fg-menu-open {
	background: #FFFFFF url(images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50%;
	border:1px solid #AAAAAA;
	color:#212121;
	font-weight:normal;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
}


/*button sets*/
.viewerContainer .ui-buttonset {
	margin-right: 12px;
	float: left;
}

.viewerContainer .ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
	margin-top: 2px;
}


/*divider*/
.viewerContainer .ui-divider {
	display: inline-block;
	border-left: 1px solid #c3b7ac;
	border-right: 1px solid #fcfcfb;
	height: 1.7em;
	width: 0;
	margin: 0 12px 0 .3em;
	margin-right: 12px;
	position: relative;
	top: 5px;
	float: left;
}


/*text*/
.viewerContainer .ui-text {
	margin-right: 12px;
	padding: .6em 1em .6em 1.8em;
	line-height: 1.4;
	float: left;
}


/* workarounds */
.viewerContainer button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
} /* reset extra padding in Firefox */


/* special buttonset / divider / button properties */
.viewerContainer .ui-buttonset.previewBack .ui-button, .viewerContainer .ui-buttonset.previewForward .ui-button {
	z-index: 100;
}

.viewerContainer .ui-buttonset.previewForward {
	margin-right: 4px;
	float: right;
}

.viewerContainer .ui-spring {
	height: 1px;
	float: left;
}

.viewerContainer.min .previewTbView, .viewerContainer.max .previewTbView {
	display: none;
}

.viewerContainer.min:hover .previewTbView {
	display: block;
}