/* LOCKED */
.tree-default .locked li a {
	color: gray;
}
/* DOTS */
.tree-default ul {
	background-position: 6px 1px;
	background-repeat: repeat-y;
	background-image:
		url(data:image/gif;base64,R0lGODlhAgACAIAAAB4dGf///yH5BAEAAAEALAAAAAACAAIAAAICRF4AOw==);
	_background-image: url("dot_for_ie.gif");
	*background-image: url("dot_for_ie.gif");
}

/* NO DOTS */
.tree-default .no_dots,.tree-default .no_dots ul {
	background: transparent;
}

.tree-default .no_dots li.leaf {
	background-image: none;
	background-color: transparent;
}
/* OPEN or CLOSED */

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-default li a,.tree-default li span {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tree-default li a:hover,.tree-default li a.hover,.tree-default li span
	{
	background: #e7f4f9;
	border: 1px solid #d8f0fa;
	padding: 0px 3px 0px 3px;
}

.tree-default li a.clicked,.tree-default li a.clicked:hover,.tree-default li span.clicked
	{
	background: #beebff;
	border: 1px solid #99defd;
	padding: 0px 3px 0px 3px;
}
/* ICONS */
.tree-default ul li a.loading ins {
	background-image: url("throbber.gif") !important;
	background-position: 0 0 !important;
} /* UL is added to make selector stronger */
.tree-default li a ins.forbidden {
	background-position: -16px -16px;
}

.tree-default .locked li a ins {
	background-position: 0 -48px;
}

.tree-default li span ins {
	background-position: -16px 0;
}

/* CONTEXT MENU */
.tree-default-context a ins.create {
	background-position: 0 -16px;
}

.tree-default-context a ins.rename {
	background-position: -16px 0px;
}

.tree-default-context a ins.remove {
	background-position: 0 -32px;
}

.scrollH .start.disabled {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -240px -0px;
	width: 15px;
	height: 15px;
}

.scrollH .end {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -210px -0px;
	width: 15px;
	height: 15px;
}

.scrollH .end.disabled {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -270px -0px;
	width: 15px;
	height: 15px;
}
/* Scroll Area */
.scrollH .emptyStart {
	
}

.scrollH .empty {
	background-repeat: repeat-x;
	background-image: url('scaled/scrollbars/eHorizontal.png');
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 15px;
}

.scrollH .space {
	width: 10px;
}

.scrollH .emptyEnd {
	
}

.scrollH { /* contains ScrollBar */
	position: absolute;
}

/* ScrollBar */
.scrollH .bar {
	width: 30px;
}

.scrollH .bar .start { /*background-repeat:repeat-y;*/
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -300px -0px;
	position: relative;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}

.scrollH .bar .scroll {
	background-repeat: repeat-x;
	background-image: url('scaled/scrollbars/horizontal.png');
	position: relative;
	left: 100%;
	height: 15px;
	padding: 0px;
	margin: 0px;
}

.scrollH .bar .end {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -330px -0px;
	position: relative;
	width: 2px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}

/* ScrollBar Vertical */
.scrollV {
	position: absolute;
	width: 15px;
	height: 100%;
	right: 0px;
	top: 0px;
	z-index: 50;
}

/* Start & End - Buttons */
.scrollV .start {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -30px -0px;
	width: 15px;
	height: 15px;
}

.scrollV .start.disabled {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -90px -0px;
	width: 15px;
	height: 15px;
}

.scrollV .end {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -0px -0px;
	width: 15px;
	height: 15px;
}

.scrollV .end.disabled {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -60px -0px;
	width: 15px;
	height: 15px;
}

/* Scroll Area */
.scrollV .emptyStart {
	
}

.scrollV .empty {
	background-repeat: repeat-y;
	background-image: url('scaled/scrollbars/eVertical.png');
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 15px;
}

.scrollV .space {
	height: 10px;
}

.scrollV .emptyEnd {
	
}

.scrollV { /* contains ScrollBar */
	position: absolute;
}

/* ScrollBar */
.scrollV .bar {
	height: 30px;
	top: 0px;
}

.scrollV .bar .start {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -120px -0px;
	position: relative;
	height: 2px;
	width: 15px;
	margin: 0px;
	padding: 0px;
}

.scrollV .bar .scroll {
	background-repeat: repeat-y;
	background-image: url('scaled/scrollbars/vertical.png');
	position: relative;
	top: 100%;
	width: 15px;
	padding: 0px;
	margin: 0px;
}

.scrollV .bar .end {
	background-image: url('iview2.scrollbar.png');
	background-repeat: no-repeat;
	background-position: -150px -0px;
	position: relative;
	height: 2px;
	width: 15px;
	margin: 0px;
	padding: 0px;
}

/* Description for z-Index:
	<10 outside the viewer (example: chapter -> 5);
	10 - main viewerContainer
	.
	20 - viewer, base Index
	.
	30 - viewer-surface, so move the image through the window
	.
	.
	50 - above viewer, for buttons or additional Moduls
	60 - MODUL: thumbnailPanel, is alone in foreground
*/

/* Main Container to embed in mycore */
.viewerContainer {
	position: relative;
	left: 0px;
	z-index: 10;
	visibility: visible;
}

.viewerContainer.max {
	position: fixed;
	top: 0px;
}

.viewerContainer.min {
	position: relative;
	top: 0px;
}

.viewerContainer.min .scrollH,.viewerContainer.min .scrollV {
	visibility: hidden;
}

.viewerContainer.max .scrollH,.viewerContainer.max .scrollV {
	visibility: visible;
}
/* viewer */
.viewerContainer .viewer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	/* NOTE: the size and width should be set dynamically when initialized */
	background-color: #ffffff;
	overflow: hidden;
}

.viewerContainer.min .viewer {
	top: 0px;
}

.viewerContainer.max .viewer {
	top: 44px;
}

.viewer .iview_well,.viewer .surface {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	/* FIXME: let's apply this in GSIV.js */
	cursor: -moz-grab;
	_cursor: url(cursor/grab.cur);
}

.viewer .surface {
	z-index: 30;
	/*background: url(../gfx/center.gif) no-repeat center center;*/
	_background: url(../blank.gif) no-repeat center center;
	/* NOTE: required for IE to"see" the surface */
}

.viewer .iview_well {
	overflow: hidden;
}

.viewer .iview_well .tile {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	/*-moz-outline: 1px dashed #FF0000;*/
}

/* Preview (current shown Image) */
/* control Button */
.damp {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1260px -0px;
	z-index: 50;
}

.damp .hide {
	width: 15px;
	height: 15px;
	background-image: url('iview2.cutout.png');
	background-repeat: no-repeat;
	background-position: -30px -0px;
}

.damp .show {
	width: 15px;
	height: 15px;
	background-image: url('iview2.cutout.png');
	background-repeat: no-repeat;
	background-position: -0px -0px;
}

/* image */
.viewerContainer .thumb {
	line-height: 100%;
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 1px solid #000000;
	z-index: 50;
	cursor: crosshair;
}

.iview2-icon-zoomOut {
	/* cursor: -webkit-zoom-out; */
}

.iview2-icon-zoomIn {
	/* cursor: -webkit-zoom-in; */
}

.iview2-icon-fitToWidth {
	/* cursor: col-resize; */
}

.viewerContainer.min .thumb,.viewerContainer.min .damp {
	visibility: hidden;
}

.viewerContainer.max .thumb,.viewerContainer.max .damp {
	visibility: visible;
}
/* current Cut */
.ausschnitt {
	background: #666666;
	opacity: 0.6;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 10px;
	width: 10px;
	display: block;
	border: 1px solid #000000;
	cursor: pointer;
}

/* ScrollBar general */
.start {
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}

.end {
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
}

/* background Preload (current shown Image) */
.preload {
	position: absolute;
	overflow: hidden;
}

/* Chapter Overview */
/* Main Div*/
.viewerContainer.max .chapter {
	visibility: visible;
}

.viewerContainer.min .chapter {
	visibility: hidden;
}

.chapter {
	position: absolute;
	top: 43px;
	left: 200px;
	width: 400px;
	height: 200px; /* also dynamic - setSize (design.xml) */
	display: none;
	text-align: left;
	font-weight: normal;
	z-index: 50;
	opacity: 0.85;
}

.chapter div.content{
	height: 200px;
}

/* chapter Sort Button */
.chapter .chapSort {
	position: absolute;
	right: 29px;
	top: 10px;
	width: 13px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -0px -0px;
	cursor: pointer;
}

/* ThumbnailPanel */
/* Main Container */
.thumbnailPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: 0px solid #000000;
	z-index: 60;
}

.thumbnailPanel .picContainer {
	background-color: #3A596D;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/* Single Page Div's */
.thumbnailPanel #divBox { /* Main Div's with Image & Title Content */
	position: absolute;
	top: 3px;
	height: 200px;
	width: 200px; /* For values around 50 the image disappears*/
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	/*If no Border is wanted set these values to zero, else IE will throw Invalid Argument Error on loading*/
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	background-color: #E2E6E9;
}
/* Main Div's with Image & Title Content */
.thumbnailPanel .divBox {
	top: 3px;
	height: 200px;
	width: 200px; /* For values around 50 the image disappears*/
	border: 0px solid #000000;
	background-color: #E2E6E9;
}

#previewImage {
	width: 180px;
	height: 160px;
}

.thumbnailPanel .divBox .previewDiv {
	position: relative;
}

.thumbnailPanel .divBox .infoDiv {
	width: 196px;
	height: 20px;
	top: 180px;
	position: relative;
	border: solid 0px #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	color: #3A596D;
	background-color: transparent;
	overflow: hidden;
}

.viewerContainer.max .thumbnailPanel .picContainer {
	height: 100%;
}

.viewerContainer.max .thumbnailPanel .scrollV {
	visibility: inherit;
}

.urnBox {
	width: 98%;
	min-height: 19px;
	background: #DCDCDC;
	padding: 4px;
	padding-top: 4px;
	padding-left: 1%;
	padding-right: 1%;
	border: 1px solid lightgrey;
	vertical-align: middle;
	position: relative;
}

.urnText {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	float: left;
}

.urnClose {
	float: right;
	position: relative;
	right: 3px;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000000;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	opacity: 0.2;
	float: right;
}

.urnClose:hover {
	cursor: pointer;
	opacity: 0.4;
}

.thumbnailOverview {
	background: #3A596D;
	box-shadow: inset 5px 0px 10px 6px rgba(00, 00, 00, 0.3);
}

div.thumbnail>p {
	padding: 0;
	margin: 0;
}

div.thumbnail {
	width: 250px;
	height: 250px;
	position: fixed;
	border: 1px solid black;
	text-align: center;
	background: #E2E6E9;
	opacity: 0.8;
	cursor: pointer;
	box-shadow: 1px 1px 4px 2px rgba(00, 00, 00, 0.5);
}

div.thumbnail:hover {
	opacity: 1;
}

div.thumbnail.selected {
	opacity: 1;
}

div.thumbnail>img {
	padding: 10px;
	padding-toü: 2px;
	padding-bottom: 0px;
	max-height: 200px;
	max-width: 200px;
}

.viewerContainer>div.scrollx {
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.viewerContainer>div.scrolly {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.viewerContainer.min>div.scrollBar {
	overflow: hidden;
	display: none;
}

.viewerContainer.min>thumbnailOverview {
	overflow: hidden;
}

#pages.hidden {
	display: none;
}