/* -----------------------------------------------------------------------------
	MyCoRe WCMS Styles

	Autor: Benno Kieselstein
	Autor: Tilo Neumann
	Stand: 2005-10-13

--------------------------------------------------------------------------------
	Farben:
		#FAF3EB - beige (hell)		- Boxen
		#E5DFD8 - beige (mittel)	- Hintergrund
		#C7BCB0 - beige (dunkel)	- inaktiver Tab
		#0066CC - blau (hell)		- Link
		#15516e - blau (dunkel)		- Kopf
		#F7E8D5 - orange (hell)		- Knopf passiv
		#EECEA0 - orange (dunkel)	- Knopf aktiv
		#CA0202 - rot (dunkel)		- aktiver Link
		#dddddd - grau (hell)		- Licht Tab
		#999999 - grau (mittel)		- Schatten Tab

--------------------------------------------------------------------------------
	Defaults
----------------------------------------------------------------------------- */

	* {
		border: 0;
		font-family: sans-serif; 
		letter-spacing: 0;
		line-height: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
	}

	/* Die im Style * deklarierte Schriftgröße gilt für Fließtext und ist das Maß, 
	auf das sich die anderen Schriftgrößen beziehen. Browser- und plattformenkompatibel 
	sind hier 69%, 76%, 86%, 93% und 101%. 
	Quelle: http://www.einfach-fuer-alle.de/artikel/ietext/ */

	body {	font-size: 93%; 
			background-color:#E5DFD8;
	}

	/* beendet das Umfließen nach floating divs  */
	.clear {
		background-color:#E5DFD8;
		line-height:1px;
		clear:both;
	}

	a:link, 
	a:visited, 
	a:hover, 
	a:active {
		text-decoration: none;
		color:#0066CC;
	}

	a:focus {
		color:#CA0202;
	}

/* -----------------------------------------------------------------------------
	WCMS-Seiten-Kopf
----------------------------------------------------------------------------- */

	/* Container für den WCMS-Kopf */
	#header {
		color: white;
		background-color:#15516e;
	}

		/* --- allgemein --- */

		/* Container für MyCoRe-WCMS Logo */
		/* Container für Projektname */
		/* Container für Benutzername */
		#mycore-logo,		
		#projekt-name,		
		#benutzer-name {	
			float:left;
		}

		/* Container für MyCoRe-WCMS Logo */
		/* Container für Projektname */
		/* Container für Benutzername */
			#mycore-logo p,
			#projekt-name p,
			#benutzer-name p {
				padding:5px;
			}

		/* --- speziell --- */

		/* MyCoRe-WCMS Logo */
		#mycore-logo {
			width: 42%;
		}
			#mycore-logo p {
				padding:0;
			}

		/* Projektname */
		#projekt-name {
		}
			#projekt-name p {
				font-size: 120%;
			}

		/* Benutzername */
		#benutzer-name {
			float:right;
		}
			#benutzer-name p{
				text-align:right;
			}

		/* beendet das Umfließen nach floating divs  */
		#clearhead {
			background-color:#15516e;
			line-height:1px;
			clear:both;
		}
/* -----------------------------------------------------------------------------
	Menueleiste
----------------------------------------------------------------------------- */

	/* Container für die Menueleiste */
	#nav{
		color: black;
		background-color: #15516e;
	}

		/* Container für linke Tabs */
		div.leftmenu {
			background: transparent;
			float: left;
		}

		/* Container für rechte Tabs */
		div.rightmenu {
			background: transparent;
			float: right;
		}

			/* Tableiste */
			ul.menu {
				font-size:14px;
   				font-weight:bold;
				border-bottom: 2px solid #15516e; /* wird ueberschrieben*/
				margin: 0px 0;
				padding: 4px 17px 3px 8px;
			}
			/* allgemeiner Tab */
			ul.menu li {
				color: #999999;
				display: inline;
				line-height: 14px; /* 12/14 px funktioniert für div.leftmenu UND div.rightmenu */
				list-style: none;
			}
			/* Link im Tab */
			ul.menu li a {
				background: #C7BCB0;
				border-top: 1px solid #dddddd;
				border-left: 1px solid #dddddd;
				border-bottom: 1px solid #999999;
				border-right: 1px solid #999999;
				line-height: 14px; /* Browser-Kompatibilität bei 12/14 px */
				padding: 2px 0.5em 3px 0.5em;
				text-decoration: none;
			}
			ul.menu li a:hover, 
			ul.menu li a:active {
				background: #EECEA0;
				border-top: 1px solid #E5DFD8;
				border-left: 1px solid #C7BCB0;
				border-right: 1px solid #E5DFD8;
				color: #0066CC; 
			}
			ul.menu li a:focus {
				background: #EECEA0;
				border-top: 1px solid #E5DFD8;
				border-left: 1px solid #C7BCB0;
				border-right: 1px solid #E5DFD8;
				color: #CA0202;
			}
			/* aktiver Tab */
			ul.menu li a.current {
				background: #E5DFD8;
				border-top: 1px solid white;
				border-left: 1px solid white;
				border-bottom: 1px solid #E5DFD8;
				border-right: 1px solid #C7BCB0;
				color: black;
			}
			ul.menu li a:link,
			ul.menu li a:visited,
			ul.menu li a.current:link,
			ul.menu li a.current:visited,
			ul.menu li a.current:hover,
			ul.menu li a.current:active,
			ul.menu li a.current:focus {
				color: black;
			}

			/* beendet das Umfließen nach floating divs in der Menueleiste */
			#clearmenu {
				background-color:#E5DFD8;
				line-height:1px;
				clear:both;
			}

/* -----------------------------------------------------------------------------
	Seitenname
----------------------------------------------------------------------------- */

	/* Container fuer den Seitennamen */
	#seitenname{
		color: black;
		white-space: nowrap;
		padding: 6px 0px 6px 16px;
	}

/* -----------------------------------------------------------------------------
	Seitennavigation
----------------------------------------------------------------------------- */

	#info{
		color: black;
		white-space: nowrap;
		font-size: 80%;
		padding: 0px 0px 6px 26px;
	}

/* -----------------------------------------------------------------------------
	Hauptbereich
----------------------------------------------------------------------------- */

	#main{}

/* -----------------------------------------------------------------------------
	Login
----------------------------------------------------------------------------- */

	#login{}
		#login-width{
			width:50%;
		}
			#login-maske{ 
				border: 1px solid #15516e;
				border-width: 1px 2px 2px 1px;
				background-color: #FAF3EB;
				padding: 20px;
				margin: 10px 0px 0px 4.5%;
			}
				#login form br {
					clear: both;
					}
				#login-maske label {
					float: left;
					text-align:right;
					width: 100px;
					margin: 0 0.5em 0.5em 0;
					padding:2px;
					text-align: right;
				}
				#login-maske a {
					margin-left: 10px;
				}
				#login fieldset {}

				#login input {
					background: white;
					border: 1px solid #999999;
					padding:0 2px 0 2px;
				}
				#login input:focus {
					border: 1px solid black;
					}

			#login-hinweis { 
				width:auto;
				border-style: solid;
				border-color: #15516e;
				background-color: #FCF9F4;
				/* border-width: 1px 2px 2px 1px; */
				border-width: 1px 2px 2px 1px;
				padding: 0px;
				margin: 0px 0px 0px 4.5%;
				height:auto;
				padding: 5px 5px 5px 15px;
				}

	#login td {
		padding:5px;
		vertical-align:top;
		font-size:93%;
		
		color:red;
	}


/* -----------------------------------------------------------------------------
	Menue-Punkt-Auswahl
----------------------------------------------------------------------------- */


	#menu-width {
		float:left;
		width:30%;
	}

	#menu { 
		width:auto;
		height:auto;
		border-style: solid;
		border-color: #15516e;
		border-width: 1px 2px 2px 1px;
		background-color: #FAF3EB;
		margin: 0px 0px 0px 26px;
	}
/* --- Auswahl Menuepunkt --- */
	select.auswahl-ziel{
		width:100%;
		height:auto;
		padding: 5px;
		margin-top:5px;
		font-size:86%;
	}
	#menu .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
		width:auto;
	}
	#menu .inhalt {
		margin: 5px 5px 10px 5px;
	}

/* --- Auswahl Legende --- */
	div.legende{
		margin-top:10px;
		font-size:80%;
	}
	td.s1{
		width:40px;
		padding-left:5px;
		font-size:80%;
	}
	td.s2{
		font-size:80%;
	}
/* -----------------------------------------------------------------------------
	Aktion-Auswahl
----------------------------------------------------------------------------- */

	#content-width {
		float:left;
		border-width: 0;
		width:auto;
		}

	#aktion  { 
		width:auto;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		/* border-width: 1px 2px 2px 1px; */
		border-width: 1px 2px 2px 1px;
		padding: 0px;
		margin: 0px 0px 0px 26px;
		margin: 0px 0px 0px 5px;
	}

	#aktion .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
		width:auto;
	}
	#aktion .inhalt {
		margin: 5px 5px 10px 5px;
	}

/* --- Auswahl Aktionen --- */
	table.aktion,
	table.option{
		margin-top:5px;
		border: 0px solid #B4B4BD;
		width:auto;
		font-size: 93%;
		border-collapse:collapse;
		}
	tr.aktion{
		border: 0px solid #B4B4BD;
	}
	td.aktionIcon{
		padding:2px;
		width:16px;
		background-color:#F7E8D5;
		border: 1px solid #B4B4BD;
		border-right-width: 0px;
		}
	td.aktionBeschreibung{
		padding:2px;
		text-align:left;
		background-color:#F7E8D5;
		border: 1px solid #B4B4BD;
		border-left-width: 0px;
		white-space:nowrap;
		}
	td.aktionOption{
		padding:2px;
		padding-left:5px;
		text-align:left;
		vertical-align:top;
		border: 1px solid #B4B4BD;
		white-space:nowrap;
		}
	td.aktionOptionLeer{
		padding:2px;
		text-align:left;
		vertical-align:top;
		background-color: #FAF3EB;
		}
	span.aktionOptionRow{
		vertical-align:middle;
	}
	td.leerzeile{
		height:10px;
	}

	table.option{
		margin-left:0px;
	}
	td.option-beschreibung {
		padding:2px;
		background-color:#F7E8D5;
		border: 1px solid #B4B4BD;
		vertical-align:top;
		text-align:right;
	}
	td.option-inhalt {
		padding:0px;
		padding-left:0px;
		text-align:left;
		vertical-align:top;
		border: 1px solid #B4B4BD;
	}
/* -----------------------------------------------------------------------------
	Hinweis-Auswahl
----------------------------------------------------------------------------- */

	#hinweis-auswahl { 
		width:auto;
		height:auto;
		border-style: solid;
		border-color: #15516e;
		border-width: 1px 2px 2px 1px;
		background-color: #FAF3EB;
		margin: 0px 0px 0px 4.5%;
		padding: 5px 5px 5px 15px;
		margin: 0px 0 10px 5px;
		background-color: #FFFFFF;
		border-color: #FF8800;
		}
	div.hinweis-auswahl-text { 
		padding: 5px 0px 0px 5px;
		}

/* -----------------------------------------------------------------------------
	Editor
----------------------------------------------------------------------------- */

	/* ~~~~~ Menü ~~~~~ */

	#editor-width {
		width:100%;
	}
	#editor,
	#menupunkt_info,
	#editorFehler,
	#speichern,
	#optionen { 
		width:auto;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		/* border-width: 1px 2px 2px 1px; */
		border-width: 1px 2px 2px 1px;
		padding: 0px 0px 0px 0px;
		margin: 0px 26px 0px 26px;
	}
	#menupunkt_info,
	#editorFehler{
		padding: 5px 5px 5px 5px;
		background-color: #FAF3EB;
		border-width: 1px 2px 0px 1px;
	}
	#editorFehler,
	#editorFehler td{
		padding:5px;
		vertical-align:top;
		font-size:93%;
		background-color: #FCF9F4;
		color:red;
	}
	#speichern{
		padding: 5px;
		background-color: #FAF3EB;
		border-width: 0px 2px 2px 1px;
	}
	#editor {
		height:auto;
		width:auto;
		padding: 4px 4px 4px 4px;
		border-width: 0px 2px 0px 1px;
	}
	#optionen{
		/* visibility:hidden;*/
		display:none;
		padding: 5px;
	}
	#option-left,
	#option-left-2 {
		width:45%;
		float:left;
		margin-right:0px;
		padding-left:0px;
	}
	#optionen br {
		clear: both;
		}
	#optionen label {
		float: left;
		width: 85px;
		padding:2px;
		margin: 0px 2px 2px 0px;
		/* background: white;
		border: 1px solid #999999; */
	}
	#option-left-2 label{
		width: 140px;
	}

	#optionen input.text {
		float:left;
		font-size:100%;
		background: white;
		border: 1px solid #999999;
		padding:1px 2px 1px 2px;
		width:300px;
		margin: 0px 0px 2px 0px;
	}
	#optionen select {
		float:left;
		font-size:100%;
		background: white;
		border: 0px solid #999999;
		padding:0px 0px 0px 0px;
		width:300px;
		margin: 0px 0px 2px 0px;
	}
	#optionen input:focus,
	#optionen select:focus {
		border: 1px solid black;
	}
	#optionen select{
		padding:0;}
	#optionen input.box	{}
	#optionen span {}
	#content a {
		background-repeat: no-repeat;
		padding: 0 0px 0 0px;
		text-decoration: none;
		}
	#content a:hover { text-decoration: none; }
	#content a:active { text-decoration: none; }
	#content a:focus { text-decoration: none; }

	#content a.named { 
		/*line-height: 100px;*/
		text-decoration: none;
		padding: 0;
		}

	#content div.right {
		text-align: right;
		margin: 0;
		}

	#content div.right a {
		font-style: normal;
		margin: 0;
		padding: 0 4px 0 4px;
		text-decoration: none;
		}

	#content div.userinterface a {
		font-style: normal;
		padding: 0 0px 0 0px;
		text-decoration: none;
		}

	/*#optionen .select,
	#optionen .input,
	.input {
		width:100%;
		height:100%;
		border-style:none;
		border-width:0;
		padding:2px;
	}*/
	
	#saveSwitches{
		margin-right:2px;

	}
	#speichern textarea{
		float:left;
		margin:0;
		width:300px;
		border: 1px solid #999999;
		margin-right:5px;
		padding:2px;
		font-size: 93%;
		
	}
	#speichern textarea:focus {
		border: 1px solid black;
	}
	#speichern label{
		float:left;
		width:85px;
		padding:2px;
		margin: 0 2px 0 0;
		background: white;
		border: 1px solid #999999;
	}
	
	#speichern .button {
		float:right;
	}

		#speichern .clear {
			background-color:#FAF3EB;
		}
				#menupunkt_info br {
					clear: both;
					}
				#menupunkt_info label {
					float: left;
					width: 60px;
					padding:2px;
					/* background: white;
					border: 1px solid #999999; */
					margin: 0 2px 2px 0;
				}

				#menupunkt_info span {
					float:left;
					font-size:100%;
					line-height:100%;
					padding:2px 2px 2px 2px;
					margin: 0 0 2px 0;
					/* background: white;
					border: 1px solid #999999; */
				}

				#menupunkt_info input {
					float:left;
					font-size:100%;
					line-height:100%;
					padding:1px 2px 1px 2px;
					margin: 0 0 2px 0;
					background: white;
					border: 1px solid #999999;
					width:300px;
				}

				#menupunkt_info input:focus {
					border: 1px solid black;
					}

    #menupunkt_name{ 
		width:600px;
		border-width: 1px 2px 2px 1px;
		padding: 0px 0px 0px 0px;
		margin: 50px 26px 0px 26px;
	}
                #menupunkt_name br {
					clear: both;
					}
				#menupunkt_name label {
					float: left;
					width: 120px;
					padding:2px;
					/* background: white;
					border: 1px solid #999999; */
					margin: 0 2px 2px 0;
				}

				#menupunkt_name span {
					float:left;
					font-size:100%;
					line-height:100%;
					padding:2px 2px 2px 2px;
					margin: 0 0 2px 0;
					/* background: white;
					border: 1px solid #999999; */
				}

				#menupunkt_name input {
					float:left;
					font-size:100%;
					line-height:100%;
					padding:1px 2px 1px 2px;
					margin: 0 0 2px 0;
					background: white;
					border: 1px solid #999999;
					width:300px;
				}

				#menupunkt_name input:focus {
					border: 1px solid black; 
					}

/* -----------------------------------------------------------------------------
	Informationen
----------------------------------------------------------------------------- */

	#information{
		border: 1px solid #000000;
		background-color: #efefde;
  		width: 500px;
        margin-left: 26px;
		}    

  	#comment{
		 border: 1px solid #000000;
         width: 269px;
		}


/* -----------------------------------------------------------------------------
	Loeschen
----------------------------------------------------------------------------- */
	#delete-width {
		float:left;
		border-width: 0;
		}

	#delete { 
		width:auto;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		border-width: 1px 2px 2px 1px;
		margin: 0px 26px 0px 26px;
	}



	#delete p {
		padding:5px;
		/* background: white;
		border: 1px solid #999999;*/
	}
	#delete p span{
		/* background: white; */
		border: 1px solid #999999;
		padding: 0 2px 0 2px;
	}

	#delete .inhalt {
		margin: 5px 5px 10px 5px;
	}
	#delete .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
	}

#delete-width .knoepfe {
	text-align:right;
	margin: 5px 5px 10px 5px;
}
#delete-width .button {
	margin: 0;
	margin-left: 5px;
}

/* -----------------------------------------------------------------------------
	Einstellungen
----------------------------------------------------------------------------- */
	#settings-width {
		float:left;
		border-width: 0;
		}

	#settings { 
		width:auto;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		border-width: 1px 2px 2px 1px;
		margin: 0px 26px 0px 26px;
	}

	#settings label {
		float: left;
		padding:2px;
		margin: 0px 2px 2px 0px;
		/* background: white;
		border: 1px solid #999999; */
	}

	#settings select {
		float:left;
		font-size:100%;
		background: white;
		border: 0px solid #999999;
		padding:0px 0px 0px 0px;
		width:300px;
		margin: 0px 0px 0px 0px;
	}
	#settings select:focus {
		border: 1px solid black;
	}

	#settings p {
		padding:5px;
		background: white;
		border: 1px solid #999999;
		margin-bottom:10px;
		display:none;

	}
	#settings .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
	}
	#settings .inhalt {
		margin: 5px 5px 10px 5px;
	}
				#settings br {
					clear: both;
					}
#settings-width .knoepfe {
	text-align:right;
	margin: 5px 5px 10px 5px;
}
#settings-width .button {
	margin: 0;
}


/* -----------------------------------------------------------------------------
	Statistik
----------------------------------------------------------------------------- */
	#statistic-width {
		float:left;
		border-width: 0;
		}

	#statistic { 
		width:auto;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		border-width: 0px 1px 1px 0px;
		margin: 0px 26px 0px 26px;
	}
	#statistic .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
	}

	#statistic table {
		border-collapse:collapse;
		width:100%;
	}
	#statistic th {
		border:1px solid #15516e;
		background:#15516e;
		color:black;
		font-weight:normal;
		font-size:86%;
		padding:2px;
		background-color:#F7E8D5;
	}
	#statistic .zebra {
		background:#E5DFD8;
	}
	#statistic #aktive-row {
		color:white;
	}
	#statistic td {
		vertical-align:top;
		border:1px solid #15516e;
		text-align:left;
		font-size:86%;
		padding:2px 10px 2px 10px;
	}
	#statistic span {
		margin-left:10px;
		font-size:86%;
		color:#999999;
	}
	#statistic span:hover {
		font-size:86%;
		color:orange;
	}
	#statistic #active-order {
		color:white;
	}

    #statistic2 { 
		border-collapse:collapse;
		max-width:700px;
		border-style: solid;
		border-color: #15516e;
		background-color: #FAF3EB;
		border-width: 0px 1px 1px 0px;
		margin: 0px 26px 0px 26px;
	}
    #statistic2 .titel {
		padding:1px 0px 4px 5px;
		color:white;
		background: #15516e;
		font-size:86%;
	}

	#statistic2 th {
		border:1px solid #15516e;
		background:#15516e;
		color:black;
		font-weight:normal;
		font-size:86%;
		padding:2px;
		background-color:#F7E8D5;
	}
	#statistic2 .zebra {
		background:#E5DFD8;
	}
	#statistic2 #aktive-row {
		color:white;
	}
	#statistic2 td {
		vertical-align:top;
		border:1px solid #15516e;
		text-align:left;
		font-size:86%;
		padding:2px 10px 2px 10px;
	}

/* -----------------------------------------------------------------------------
	Knoepfe
----------------------------------------------------------------------------- */	

	a.button,
	a:visited.button,
	a:hover.button,
	a:active.button,
	a:focus.button,
	a:link.button {
		padding: 0px 4px 0px 4px;
		color:black;
		background-color:#F7E8D5;
		border: 1px solid gray;
		margin-right:5px;
	}

	a.button:hover {
		padding: 0px 4px 0px 4px;
		color:black;
		background-color:#EECEA0;
	}
	a.button:active {
		padding: 0px 4px 0px 4px;
		background-color:white;
	}
#saveSwitches a.button,
#saveSwitches	a:visited.button,
#saveSwitches	a:hover.button,
#saveSwitches	a:active.button,
#saveSwitches	a:focus.button,
#saveSwitches	a:link.button {
		margin-right:0px;
		margin-left:5px;
	}

/* -------------------------------------------------------------------------- */