      <!-- **************************************************************** -->
      <!-- Servlets and mapping for the Module Broadcasting          -->
      <!-- **************************************************************** -->
 
      <servlet id="MCRBroadcastServlet">
            <servlet-name>MCRBroadcastingServlet</servlet-name>
            <servlet-class>org.mycore.services.broadcasting.MCRBroadcastingServlet</servlet-class>
      </servlet>
           
      <servlet-mapping>
            <servlet-name>MCRBroadcastingServlet</servlet-name>
            <url-pattern>/servlets/MCRBroadcastingServlet/*</url-pattern>
      </servlet-mapping>
