
<!-- **************************************************************** -->
<!-- Servlets and mappings of webservices                             -->
<!-- **************************************************************** -->

<listener>
  <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
</listener>
   
<servlet>
  <servlet-name>AxisServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
  <load-on-startup>100</load-on-startup>
</servlet>

<servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/servlets/AxisServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>AxisServlet</servlet-name>
  <url-pattern>/services/*</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>AdminServlet</servlet-name>
  <url-pattern>/servlets/AxisAdminServlet</url-pattern>
</servlet-mapping>

<!-- currently the W3C havent settled on a media type for WSDL; -->
<!-- http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft -->
<!-- for now we go with the basic 'it's XML' response -->

<!--
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
-->
