@CHARSET "UTF-8";

/*********************************************/
/* BOOTSTRAP OVERWRITES                      */
/*********************************************/
.modal-header {
  box-sizing: content-box;
}

/*********************************************/
/* PIPE STYLES                               */
/*********************************************/
.json-string-row {
	margin-left: 4px;
}

.json-string-object-property-name {
    font-weight: bold;
    color: #337ab7;
}

.json-string-object-property-value {
    color: olivedrab;
}