@CHARSET "UTF-8";

h1 {
	font-size: 1rem;
	color: #888;
	text-transform: uppercase;
}

h1 a {
	color: #337ab7;
	font-size: 0.8rem;
}

.header {
	font-weight: bold;
	margin-bottom: 6px;
}

.header:after {
	content: "";
	display: block;
	border-bottom: 1px solid #DDD;
	margin: 0 15px;
}

.content {
	min-height: 50px;
}

.noActiveProcess {
	color: #555;
}

.propertiesModal .propertyKey {
	width: 18%;
}