@CHARSET "UTF-8";

.row {
    white-space: nowrap;
}

.row > div {
    overflow: hidden;
}

.progress {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #333;
}

.noProperties {
    color: #AAA;
}

pre.scrollContainer {
    overflow: scroll;
    max-height: 100px;
}
