
<!-- **************************************************************** -->
<!-- MyCoRe XEditor -->
<!-- **************************************************************** -->

<servlet id="MCRXEditorServlet">
  <servlet-name>MCRXEditorServlet</servlet-name>
  <servlet-class>org.mycore.frontend.xeditor.MCRXEditorServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>MCRXEditorServlet</servlet-name>
  <url-pattern>/servlets/XEditor</url-pattern>
</servlet-mapping>

<servlet id="MCRStaticXEditorFileServlet">
  <servlet-name>MCRStaticXEditorFileServlet</servlet-name>
  <servlet-class>org.mycore.frontend.xeditor.MCRStaticXEditorFileServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>MCRStaticXEditorFileServlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
</servlet-mapping>
