<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <display-name>MyCoRe Application</display-name>

  <!-- **************************************************************** -->
  <!-- Servlets and mapping from MyCoRe kernel -->
  <!-- **************************************************************** -->

  <listener>
    <listener-class>org.mycore.common.events.MCRServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.mycore.common.events.MCRHttpSessionListener</listener-class>
  </listener>

  <filter>
    <filter-name>UriResolverDebugFilter</filter-name>
    <filter-class>org.mycore.common.xml.MCRURIResolverFilter</filter-class>
  </filter>

  <filter>
    <filter-name>WebAppBaseFilter</filter-name>
    <filter-class>org.mycore.frontend.filter.MCRWebAppBaseFilter</filter-class>
  </filter>

  <filter>
    <filter-name>UserAgentFilter</filter-name>
    <filter-class>org.mycore.frontend.filter.MCRUserAgentFilter</filter-class>
  </filter>

  <servlet id="FileNode">
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <servlet-class>org.mycore.datamodel.ifs.MCRFileNodeServlet</servlet-class>
  </servlet>
  <servlet id="FSMapper">
    <servlet-name>MCRFSMapperServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRFSMapperServlet</servlet-class>
  </servlet>
  <servlet id="OAIProvider">
    <servlet-name>MCROAIProvider</servlet-name>
    <servlet-class>org.mycore.services.oai.MCROAIProvider</servlet-class>
  </servlet>
  <servlet id="OAI2">
    <servlet-name>OAI2</servlet-name>
    <servlet-class>org.mycore.oai.MCROAIDataProvider</servlet-class>
  </servlet>
  <servlet id="StaticXMLFile">
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRStaticXMLFileServlet</servlet-class>
  </servlet>
  <servlet id="XMLEditor">
    <servlet-name>XMLEditor</servlet-name>
    <servlet-class>org.mycore.frontend.editor.MCREditorServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet id="MCRUpload">
    <servlet-name>MCRUploadServlet</servlet-name>
    <servlet-class>org.mycore.frontend.fileupload.MCRUploadServlet</servlet-class>
  </servlet>
  <servlet id="Zip">
    <servlet-name>MCRZipServlet</servlet-name>
    <servlet-class>org.mycore.services.zipper.MCRZipServlet</servlet-class>
  </servlet>
  <servlet id="IndexBrowserServlet">
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.lucene.MCRIndexBrowserServlet</servlet-class>
  </servlet>
  <servlet id="IndexBrowser">
    <servlet-name>MCRIndexServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.sql.MCRIndexServlet</servlet-class>
  </servlet>
  <servlet id="MCRObject">
    <servlet-name>MCRObjectServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRObjectServlet</servlet-class>
  </servlet>
  <servlet id="MCRClassification">
    <servlet-name>MCRClassExportServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRClassExportServlet</servlet-class>
  </servlet>
  <servlet id="MCRSearch">
    <servlet-name>MCRSearchServlet</servlet-name>
    <servlet-class>org.mycore.services.fieldquery.MCRSearchServlet</servlet-class>
  </servlet>
  <servlet id="MCRLink">
    <servlet-name>MCRLinkServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRLinkServlet</servlet-class>
  </servlet>
  <servlet id="MCRDerivateLink">
    <servlet-name>MCRDerivateLinkServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDerivateLinkServlet</servlet-class>
  </servlet>
  <servlet id="MCRContainerLogin">
    <servlet-name>MCRContainerLoginServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRContainerLoginServlet</servlet-class>
  </servlet>



  <filter-mapping>
    <filter-name>WebAppBaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRObjectServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRSearchServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>UserAgentFilter</filter-name>
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAgentFilter</filter-name>
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAgentFilter</filter-name>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAgentFilter</filter-name>
    <servlet-name>MCRObjectServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserAgentFilter</filter-name>
    <servlet-name>MCRSearchServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <url-pattern>/servlets/MCRFileNodeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCROAIProvider</servlet-name>
    <url-pattern>/servlets/MCROAIProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCROAIProvider</servlet-name>
    <url-pattern>/oai</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OAI2</servlet-name>
    <url-pattern>/oai2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XMLEditor</servlet-name>
    <url-pattern>/servlets/XMLEditor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRUploadServlet</servlet-name>
    <url-pattern>/servlets/MCRUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRZipServlet</servlet-name>
    <url-pattern>/servlets/MCRZipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <url-pattern>/servlets/IndexBrowserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <url-pattern>/indexpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexServlet</servlet-name>
    <url-pattern>/servlets/IndexServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexServlet</servlet-name>
    <url-pattern>/index/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRObjectServlet</servlet-name>
    <url-pattern>/receive/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRClassExportServlet</servlet-name>
    <url-pattern>/servlets/MCRClassExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRSearchServlet</servlet-name>
    <url-pattern>/servlets/MCRSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRLinkServlet</servlet-name>
    <url-pattern>/servlets/MCRLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRDerivateLinkServlet</servlet-name>
    <url-pattern>/servlets/MCRDerivateLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRContainerLoginServlet</servlet-name>
    <url-pattern>/servlets/MCRContainerLoginServlet</url-pattern>
  </servlet-mapping>

  <servlet id="MCRAddURNToObjectServlet">
    <servlet-name>MCRAddURNToObjectServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRAddURNToObjectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRAddURNToObjectServlet</servlet-name>
    <url-pattern>/servlets/MCRAddURNToObjectServlet</url-pattern>
  </servlet-mapping>

  <servlet id="MCRDisplayHideDerivateServlet">
    <servlet-name>MCRDisplayHideDerivateServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDisplayHideDerivateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRDisplayHideDerivateServlet</servlet-name>
    <url-pattern>/servlets/MCRDisplayHideDerivateServlet</url-pattern>
  </servlet-mapping>

  <servlet id="MCRMailer">
    <servlet-name>MCRMailer</servlet-name>
    <servlet-class>org.mycore.common.MCRMailer</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRMailer</servlet-name>
    <url-pattern>/servlets/MCRMailer</url-pattern>
  </servlet-mapping>

  <servlet id="MCRDerivateServlet">
    <servlet-name>MCRDerivateServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRDerivateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRDerivateServlet</servlet-name>
    <url-pattern>/servlets/MCRDerivateServlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MCRLogoutServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRLogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MCRLogoutServlet</servlet-name>
    <url-pattern>/servlets/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MCRLocaleServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRLocaleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MCRLocaleServlet</servlet-name>
    <url-pattern>/servlets/MCRLocaleServlet/*</url-pattern>
  </servlet-mapping>

  <!-- **************************************************************** -->
  <!-- General configuration -->
  <!-- **************************************************************** -->

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.xml</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRErrorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/servlets/ErrorServlet</url-pattern>
  </servlet-mapping>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/servlets/ErrorServlet</location>
  </error-page>

  <error-page>
    <error-code>201</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>202</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>305</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/servlets/ErrorServlet</location>
  </error-page>
  
  <login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>Restricted</realm-name>
  </login-config>
  <security-role>
    <description>every permitted user</description>
    <role-name>users</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>container login</web-resource-name>
      <url-pattern>/servlets/MCRContainerLoginServlet</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
