/*
 * Class for formular buttons
 */
 
form {
    margin: 0px;
    padding: 0px; 
}

#aclRuleEditor .button{
	margin-top: 2px;
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#aclCreateNewRuleBox, #aclEditRuleBox {
	background-color: #edeff5;
	border: solid 1px black;
	margin-top: 10px;
	margin-bottom: 10px;
}

#aclCreateNewRuleBox .aclCreateNewRule {
    padding: 3px;
}

.aclRuleTable {
	width: 100%;
}

#aclEditRuleBox .aclRuleTable {
	border: solid 1px #484848;
    border-left: solid 4px gray;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.aclRuleTable .buttonCol{
	width: 2%;
}

.aclRuleTable .label{
	width: 10%;
}

.aclRuleTable .input{
	width: 80%;
	border: solid 1px black;
}

.aclRuleTable .textarea{
	width: 80%;
	height: 100px;
	border: solid 1px black;
}

.aclRuleTable .delInactiv{
	color: gray;
}

/* This is the start value for the rule string box
 * will be changed in javascript (aclRuleEditor.js - detailsSwitch())
 */ 
.aclRuleTable .ruleField{
	display: none;
	visibility: collapse;
}

.aclRuleTable .buttonSmall{
	background-color: gray;
	color: white;
	width:11px;
	height:11px;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 4px;
	font-weight: bold;
}

.aclRuleTable .delInactiv, .aclRuleTable .delActiv{
	width: 5%;
}

.aclRuleEditorlabel {
	font-weight: bold;
    padding: 3px;
	width: 100%;
	background-color: #f5f3ed;
	vertical-align: middle;
	display: table-caption;
	border-bottom: solid 1px black;
}

/*
 *  ACL editing rules box
 */
#aclEditRuleBox .aclRuleTableBox {
    padding: 3px;
}

#aclEditRuleBox .menu {
	border: solid 1px black;
	background-color: #f4f5ed;
}

#aclEditRuleBox .menu table{
	width: 100%;
}

#aclEditRuleBox .menu .checkBoxRow{
	/*width: 50%;*/
}

#aclEditRuleBox .menu .checkBoxRow .space{
	width: 180px;
}

#aclEditRuleBox .menu .checkBoxRow table{
    text-align: right;
	width: 100%;
}

#aclEditRuleBox .ruleID {
	font-weight: bold;
}

#aclEditRuleBox hr {
	color: black;
	background-color: black;
	height: 1px;
}

#aclEditRuleBox .checkBox {
	border: none;
}

/*
 * Button classes (div as buttons)
 */
.clickButtonOut, .clickButtonOver {
    vertical-align: middle;
    text-align: center; 
    padding: 2px;
}

.clickButtonOut {
    color: white;
    background-color: gray;
    border: solid 1px gray;
    cursor: default;
}

.clickButtonOver {
    color: black;
    background-color: #d9d5db;
    border: solid 1px black;
    cursor: pointer;
}
 
.detailsSwitch {
 /* padding: top right bottom left */
    padding: 0px 0px 4px 0px;
	font-weight: bold; 
	width: 9px;
    height: 9px; 
}

/*
 * Info message window
 */
.msgWindow {
    position: absolute;
    padding: 4px;
    border: solid 1px black;
    background-color: #f5f3ed;
    display: none;
    cursor: help;
    width: 200px;
    height: 30px; 
}
   
#aclCreateNewRuleForm .faultyInput{
    width: 80%;
    border: solid 2px red;
}

.faultyTextarea{
	width: 80%;
	height: 100px;
	border: solid 2px red;
}
