
<!-- **************************************************************** -->
<!-- Servlets and mappings of zoomify viewer                          -->
<!-- **************************************************************** -->

<servlet id="MCRStartZoomifyServlet">
  <servlet-name>MCRStartZoomifyServlet</servlet-name>
  <servlet-class>org.mycore.frontend.servlets.MCRStartZoomifyServlet</servlet-class>
</servlet>
<servlet id="ZipFileNode">
  <servlet-name>MCRZipFileNodeServlet</servlet-name>
  <servlet-class>org.mycore.frontend.servlets.MCRZipFileNodeServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRStartZoomifyServlet</servlet-name>
  <url-pattern>/servlets/MCRStartZoomifyServlet</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRZipFileNodeServlet</servlet-name>
    <url-pattern>/servlets/MCRZipFileNodeServlet/*</url-pattern>
  </servlet-mapping>
