.mcr-upload {
    position: fixed;
    display: block;
    bottom: 0px;
    right: 0px;
    min-height: 200px;
    min-width: 200px;
    height: 33%;
    width: 50%;
    z-index: 25;
    transition: height 0.5s;
}

.mcr-upload.minimized {
    min-height: 50px;
    height: 50px;
}

.mcr-upload.minimized .card-body {
    display: none;
}


.mcr-upload .entry {
    border-bottom: 1px solid lavender;
    padding-top: 10px;
}

.mcr-upload-entry-list {
    height: 100%;
}
