<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

  <display-name>MyCoRe Application</display-name>

  <!-- **************************************************************** -->
  <!-- Servlets and mapping from MyCoRe kernel                          -->
  <!-- **************************************************************** -->

  <listener>
    <listener-class>org.mycore.common.events.MCRServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.mycore.common.events.MCRHttpSessionListener</listener-class>
  </listener>

  <filter>
    <filter-name>UriResolverDebugFilter</filter-name>
    <filter-class>org.mycore.common.xml.MCRURIResolverFilter</filter-class>
  </filter>

  <filter>
    <filter-name>WebAppBaseFilter</filter-name>
    <filter-class>org.mycore.frontend.filter.MCRWebAppBaseFilter</filter-class>
  </filter>

  <servlet id="FileNode">
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <servlet-class>org.mycore.datamodel.ifs.MCRFileNodeServlet</servlet-class>
  </servlet>
  <servlet id="FSMapper">
    <servlet-name>MCRFSMapperServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRFSMapperServlet</servlet-class>
  </servlet>
  <servlet id="OAIProvider">
    <servlet-name>MCROAIProvider</servlet-name>
    <servlet-class>org.mycore.services.oai.MCROAIProvider</servlet-class>
  </servlet>
  <servlet id="StaticXMLFile">
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRStaticXMLFileServlet</servlet-class>
  </servlet>
  <servlet id="XMLEditor">
    <servlet-name>XMLEditor</servlet-name>
    <servlet-class>org.mycore.frontend.editor.MCREditorServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet id="MCRUpload">
    <servlet-name>MCRUploadServlet</servlet-name>
    <servlet-class>org.mycore.frontend.fileupload.MCRUploadServlet</servlet-class>
  </servlet>
  <servlet id="Zip">
    <servlet-name>MCRZipServlet</servlet-name>
    <servlet-class>org.mycore.services.zipper.MCRZipServlet</servlet-class>
  </servlet>
  <servlet id="IndexBrowserServlet">
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.MCRIndexBrowserServlet</servlet-class>
  </servlet>
  <servlet id="IndexBrowser">
    <servlet-name>MCRIndexServlet</servlet-name>
    <servlet-class>org.mycore.frontend.indexbrowser.MCRIndexServlet</servlet-class>
  </servlet>
  <servlet id="MCRObject">
    <servlet-name>MCRObjectServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRObjectServlet</servlet-class>
  </servlet>
  <servlet id="MCRClassification">
    <servlet-name>MCRClassExportServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRClassExportServlet</servlet-class>
  </servlet>
  <servlet id="MCRSearch">
    <servlet-name>MCRSearchServlet</servlet-name>
    <servlet-class>org.mycore.services.fieldquery.MCRSearchServlet</servlet-class>
  </servlet>
  <servlet id="MCRLink">
    <servlet-name>MCRLinkServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRLinkServlet</servlet-class>
  </servlet>
  <servlet id="MCRSessionListingServlet">
    <servlet-name>MCRSessionListingServlet</servlet-name>
    <servlet-class>org.mycore.frontend.servlets.MCRSessionListingServlet</servlet-class>
  </servlet>
  
  <filter-mapping>
    <filter-name>WebAppBaseFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRObjectServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UriResolverDebugFilter</filter-name>
    <servlet-name>MCRSearchServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>MCRStaticXMLFileServlet</servlet-name>
    <url-pattern>*.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRFileNodeServlet</servlet-name>
    <url-pattern>/servlets/MCRFileNodeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCROAIProvider</servlet-name>
    <url-pattern>/servlets/MCROAIProvider</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XMLEditor</servlet-name>
    <url-pattern>/servlets/XMLEditor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRUploadServlet</servlet-name>
    <url-pattern>/servlets/MCRUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRZipServlet</servlet-name>
    <url-pattern>/servlets/MCRZipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <url-pattern>/servlets/IndexBrowserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexBrowserServlet</servlet-name>
    <url-pattern>/indexpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexServlet</servlet-name>
    <url-pattern>/servlets/IndexServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRIndexServlet</servlet-name>
    <url-pattern>/index/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRObjectServlet</servlet-name>
    <url-pattern>/receive/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRClassExportServlet</servlet-name>
    <url-pattern>/servlets/MCRClassExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRSearchServlet</servlet-name>
    <url-pattern>/servlets/MCRSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRLinkServlet</servlet-name>
    <url-pattern>/servlets/MCRLinkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MCRSessionListingServlet</servlet-name>
    <url-pattern>/servlets/MCRSessionListingServlet</url-pattern>
  </servlet-mapping>  

  <!-- **************************************************************** -->
  <!-- General configuration                                            -->
  <!-- **************************************************************** -->

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.xml</welcome-file>
  </welcome-file-list>

</web-app>
