.thumbnailContainer {
	width:256px;
	height:256px;	
}
.chapterContainer {
	height:300px;
	width:100%;
}
.viewerContainer {
	position:relative;
	width:100%;
	height:500px;
	top:0px;
	left:0px;
}

.viewerContainer.max {
	bottom: 0px;
	right: 0px;
	position:fixed;
}
.viewerContainer.min {
	bottom: 0px;
	right: 380px;
}
/* old css-Entries */
.viewer {
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 30;
	width:100%;
	height:500px;
	/* NOTE: the size and width should be set dynamically when initialized */
}

.viewer .well, .viewer .surface {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* FIXME: let's apply this in GSV.js */
	/*cursor: grab;*/
	cursor: -moz-grab;
		_cursor: url(cursor/grab.cur);
}
.viewer .surface {
	z-index: 30;
	/*background: url(../gfx/center.gif) no-repeat center center;*/
		_background: url(../blank.gif) no-repeat center center; /* NOTE: required for IE to"see" the surface */
}
.viewer .well {
	overflow: hidden;
	z-index: 10;
}
.viewer .well .tile {
	border: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	/*-moz-outline: 1px dashed #FF0000;*/
}
.viewer .controls        
{
	background-color: #FFFFFF;
	position: absolute;
	left: 0px;/*modded*/
	top: 0px;
	font-size: 0px;
	margin: 0px;
	padding: 0 0 0 0px;
	z-index: 31;
}
.viewer .controls a
{
	color: #000000;
	text-decoration: none;
	-moz-outline: none;	
}
.viewer .controls a img {
	border: 0;
	vertical-align: middle;
}
.viewer .controls a:active {
	color: #FF0000;
}


/*additions*/

#body {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000000;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	overflow: hidden;
}

/* Header */
.buttonSurface.max {
	top:0px;
	position:fixed;
}
.buttonSurface.min {
}
.buttonSurface {
	width:100%;
	height:100%;
	position:relative;
	top:-500px;
	left:0px;
}
.buttonSurface2 {
	width:100%;
	height:100%;
	position:relative;
	z-index:10;
}
.buttonSurface2 .BSE_permalink {
	position:absolute;
	left:30px;
}
.buttonSurface2 .BSE_url {
	position:absolute;
	left:80px;
}
/* Header */
.header, .BS_header {
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #cccccc;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999999;
	z-index:30;
}

/* HeaderElements */
.buttonSurface .BSE_cssChanger {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 15px;
	width: 15px;
	background-color: red;
	z-index: 32;
}
/*URL*/
.buttonSurface .BSE_permalink {
	position: absolute;
	top: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -600px -0px;
	height:25px;
	width:25px;
	left:34px;
	cursor: pointer;
	z-Index:32;
}
.buttonSurface .BSE_displayOut {
	position:absolute;
	left:190px;
	top:4px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -631px -2px;
	width:18px;
	height:18px;
	cursor: pointer;
	z-index:32;
}
.buttonSurface .BSE_url {
	position: absolute;
	top: 15px;
	left:65px;
	display:none;
	z-index:32;
}
/* Page backwards*/
.buttonSurface .BSE_backward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -120px -0px;
	height: 25px;
	width: 24px;
	right: 0px;
	z-index: 32;
	cursor: pointer;
}
.buttonSurface .BSE_backwardBehind {
	position: absolute;
	top: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -150px -0px;
	height: 25px;
	width: 24px;
	left: 288px;
	z-index: 32;
}

/* Page forward*/
.buttonSurface .BSE_forward {
	position: absolute;
	top: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -180px -0px;
	height: 25px;
	width: 24px;
	right: 0px;
	z-index: 32;
	cursor: pointer;
}
.buttonSurface .BSE_forwardBehind {
	position: absolute;
	top: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -210px -0px;
	height: 25px;
	width: 24px;
	left: 506px;
	z-index: 32;
}

/* pageIndex */
.buttonSurface .BSE_pageInput {
	position: absolute;
	top: 14px;
	left: 312px;
	height: 25px;
	width: 192px;
	background-color: #FCFEFF;
	border: 1px solid black;
	z-index: 32;
}
.buttonSurface .BSE_pageInput .input {
	height: 20px;
	width: 80px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 3px;
	padding: 0px;
}
.buttonSurface .BSE_pageInput .slash {	
	height: 20px;
	width: 14px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 3px;
	padding: 0px;
}
.buttonSurface .BSE_pageInput .amount {	
	height: 20px;
	width: 80px;
	background-color: transparent;
	border: 0px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 3px;
	padding: 0px;
}

/* Entrance-Buttons - Chapter & Overview */
.buttonSurface .BSE_openThumbs {
	position: absolute;
	top: 8px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -480px -0px;
	height: 40px;
	width: 60px;
	left: 569px;
	z-index: 32;
	cursor: pointer;
}
.buttonSurface .BSE_chapterOpener {
	position: absolute;
	top: 8px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -541px -0px;
	height: 40px;
	width: 59px;
	left: 650px;
	z-index: 32;
	cursor: pointer;
}


/* Navigation Elements */
/* Vollbild-Button */
/*.maximize {*/
.buttonSurface .BSE_fullView, .buttonSurface .BSE_normalView {	
	position: absolute;
	top: 60px;
	height: 55px;
	width: 55px;
	left: 19px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	z-index: 32;
}
.buttonSurface .BSE_fullView {
	display: block;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -0px -0px;
	z-index:32;
}
.buttonSurface .BSE_normalView {
	display: none;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -60px -0px;
	z-index:32;
}
/* additional ZoomIn / ZoomOut (not integrated in Zoombar)*/
/*.buttonSurface .BSE_zoomIn {	
	position: absolute;
	top: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -240px -0px;
	z-index: 32;
	cursor: pointer;
	display: none;
}

.buttonSurface .BSE_zoomInBehind {
	position: absolute;
	top: 5px;
	right: 415px;
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -270px -0px;
	z-index: 32;
	display: none;
}
.buttonSurface .BSE_zoomOut {	
	position: absolute;
	top: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -300px -0px;
	z-index: 32;
	cursor: pointer;
	display: none;
}

.buttonSurface .BSB_zoomOutBehind {	
	position: absolute;
	top: 5px;
	right: 380px;
	height: 20px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -330px -0px;
	z-index: 32;
	display: none;
}*/

/* Buttons - fitToScreen & fitToWidth */
.buttonSurface .BSE_toWidth {
 	position: absolute;
	top: 355px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -360px -0px;
 	/*background-repeat: no-repeat;*/
 	height: 15px;
 	width: 50px;
 	left: 22px;
 	z-index: 32;
 	cursor: pointer;
}

.buttonSurface .BSE_toScreen {
 	position: absolute;
 	top: 385px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -420px -0px;
 	/*background-repeat: no-repeat;*/
 	height: 50px;
 	width: 50px;
 	left: 22px;
 	z-index: 32;
 	cursor: pointer;
}
/* ZommBar */
/* Main */
.zoomBar {
	position: absolute;
	top: 130px;
	left: 36px;
	height: 200px;
	width: 20px;
	z-index: 40;
}

/* Top-Button */
.zoomBar .start {	
	position: absolute;
	top: 0px;
	left: 0px;
	height: 18px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1470px -0px;
	z-index: 32;
	cursor: pointer;
}
/* Bottom-Button */
.zoomBar .end {	
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 18px;
	width: 20px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1500px -0px;
	z-index: 32;
	cursor: pointer;
}
/* Scroll-Area*/
.zoomBar .center {
	position: absolute;
	top: 18px;
	left: 0px;
	height: 164px;
	width: 20px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	background-image: url('scaled/zoomBar/center.png');
	z-index: 32;
}

/* scaleLine */
.zoomBar .scale {	
	position: absolute;
	top: 5px;
	height:	154px;
	width: 20px;
}

/* single scaleLine */
.zoomBar .scaleLine {
	position: absolute;
	background-color: #555555;
	left:0px;
	width: 20px;
	height: 4px;
}

/* bar */

.zoomBar .bar {
	position: absolute;
	left: -3px;
	top: -30px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1530px -0px;
	height: 14px;
	width: 26px;
	z-index: 32;
	line-height: 0px;
}

/* Preview (current shown Image) */
/* control Button */
.dampNormal {
	position:absolute;
	bottom: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	z-index: 32;
}
.dampNormal .hide {
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1410px -0px;
}

.dampNormal .show {
	width: 15px;
	height: 15px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1380px -0px;
	display: none;
}

/* image */
.thumbNormal
{
	background-color: #000000;
	position: absolute;
	right: 17px;
	bottom: 17px;
	margin: 0px;
	vertical-align: middle;
	font-weight: bold;
	border: 0px solid #000000;
	z-index: 30;
}

/* current Cut */
.ausschnittNormal {
	background-image: url('scaled/thumbnail/cutout.png');
	position: absolute;
	left:0px;
	top:0px;
	height:10px;
	width:10px;
	display: block;
	border:1px solid #000000;
	z-index:30;
	cursor: url(cursor/grab.cur), pointer;
}

/* ScrollBar general */
.start {
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0px;
}
.end {
	background-repeat:no-repeat;
	padding: 0px;
	margin: 0px;
}

/* ScrollBar Horizontal */

/* Main Container */
.scrollH {
	position: absolute;
	height:15px;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index:31;
	cursor: url('cursor/horizontal.cur'), pointer;
}

/* Start & End - Buttons */
.scrollH .start {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -720px -0px;
	width:16px;
	height:15px;
}
.scrollH .end {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -750px -0px;
	width:16px;
	height:15px;
}

/* Scroll Area */
.scrollH .empty { /* Main Container */
	position:relative;
	height:15px;
}
.scrollH .spaceStart {
}
.scrollH .eHorizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/eHorizontal.png');
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	height: 15px;
}
.scrollH .spaceEnd {
}
.scrollHBar { /* contains ScrollBar */
	position:absolute;
}

/* ScrollBar */
.scrollHBar .barStart {
	/*background-repeat:repeat-y;*/
	background-image: none;
	position:relative;
	float: left;
	width: 0px;
	height: 9px;
	top: 3px;
	margin: 0px;
	padding: 0px;
}
.scrollHBar .horizontal {
	background-repeat:repeat-x;
	background-image: url('scaled/scrollbars/horizontal.png');
	position:relative;
	float: left;
	top: 3px;
	left:100%;
	height:9px;
	padding:0px;
	margin:0px;
}
.scrollHBar .barEnd {
	background-repeat:repeat-y;
	background-image: none;
	position:relative;
	float: left;
	width: 0px;
	height: 9px;
	top: 3px;
	margin: 0px;
	padding: 0px;
}


/* ScrollBar Vertical */
/* Main Container */
.scrollV {
	width: 15px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 41;
	line-height: 0px;
	cursor: url('cursor/vertical.cur'), pointer;
}

/* Start & End - Buttons */
.scrollV .start {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -690px -0px;
	width:15px;
	height:16px;
}
.scrollV .end {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -660px -0px;
	width:15px;
	height:16px;
}

/* Scroll Area */
.scrollV .empty {
	position:relative;
	width:15px;
}
.scrollV .spaceStart {
	background-color:#000000;
	width:0px;
	height:0px;
}
.scrollV .eVertical {
	position:relative;
	background-repeat:repeat-y;
	background-image: url('scaled/scrollbars/eVertical.png');
	padding:0px;
	margin:0px;
 	height:100%;
 	width:15px;
	vertical-align: top;
}
.scrollV .spaceEnd {
	background-color:#000000;
	width:0px;
	height:0px;
}
.scrollVBar {  /* contains ScrollBar */
	position:absolute;
}

/* ScrollBar */
.scrollVBar .barStart {
	background-repeat:repeat-x;
	background-image: none;
	position:relative;
	height: 0px;
	left: 3px;
	margin: 0px;
	padding: 0px;
}
.scrollVBar .vertical {
	background-repeat:repeat-y;
	background-image: url('scaled/scrollbars/vertical.png');
	position:relative;
	height:100%;
	width: 9px;
	left: 3px;
	margin: 0px;
	padding: 0px;
}
.scrollVBar .barEnd {
	background-repeat:repeat-x;
	background-image: none;
	position:relative;
	height: 0px;
	left: 3px;
	margin: 0px;
	padding: 0px;
}


/* background Preload (current shown Image) */
.preload {
	position:absolute;
	overflow:hidden;
}


/* Chapter Overview */
/* Main Div*/
.chapter1 {
	position: relative;
	top: 0px;
	left: 0px;
	background-color: #555555;
	width: 730px;
	height: 290px; /* also dynamic - setSize (design.xml) */
	z-index: 35;
	overflow: hidden;
	opacity:0;
}

.chapter1 .chapter1InPlace {
	top: 50px;
	left: 0px;
	z-index:35;
}

.chapter1 .chapter1OutPlace {
	top: 50px;
	left: -50px;
	z-index:35;
}
/* Content */
.chapter1_content {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 65px;
	background-color: #555555;
	font-size: 18px;
	line-height: 22px;
	font-family: Times;
	cursor: pointer;
	overflow: hidden;
}

/* Entries */
.chapter1 .chapter {
	position: relative;
	display: none;
	border-left: 1px solid #cccccc;
	left: 10px;
	right: 10px; /* Abstand zwischen Textende und dem rechten Rand des Content Div's ||| auch fÃ¼r Highlight ||| kein wirklicher Abstand nach rechts*/
/*	z-index: 40;*/
	background-color:#fffcfa;
	overflow:hidden;
	white-space:nowrap;
	padding-left:5px;
	color:#000000;
}

/* Entry Symbols */
.chapter1 .pageImageSymbol {
	position: relative;
	top: 6px;
	height: 11px;
	width: 12px;
	background-repeat: no-repeat;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1350px -0px;
	float: left;
}
.chapter1 .chapterImageSymbolMinus {
	position: relative;
	top: 6px;
	height: 11px;
	width: 12px;
	background-repeat: no-repeat;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1320px -0px;
	float: left;
}
.chapter1 .chapterImageSymbolPlus {
	position: relative;
	top: 6px;
	height: 11px;
	width: 12px;
	background-repeat: no-repeat;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1290px -0px;
	float: left;
}

/* chapter Sort Button */
.chapter1_chapSort {
	position: absolute;
	right: 35px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1260px -0px;
}

/* Chapter Scrollbar */
/*Main Container*/
.scrollChapV {
	position: absolute;
	right:5px;
	top:0px;
	width:27px;
}

/* Up / Down - Buttons */
.scrollChapV .start {
	height:50px;
	width:27px;
	cursor:pointer;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1110px -0px;
}
.scrollChapV .end {
	height:50px;
	width:27px;
	cursor:pointer;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1080px -0px;
}

/* ScrollArea Main */
.scrollChapV .empty {
	position:relative;
	left:2px;
}

/* ScrollArea Single Parts */
.scrollChapV .spaceStart {
	height:10px;
	width:23px;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1050px -0px;
}
.scrollChapV .eVertical {
	width:23px;
	background-image: url('scaled/chapter/eVertical.png');
	background-repeat:repeat-y;
}
.scrollChapV .spaceEnd {
	height:10px;
	width:23px;
	background-image:url('scaled/chapter/spaceEnd.png');
}

/* ScrollBar Main */
.scrollChapVBar {
	position:absolute;
	right: -1px;
}

/* ScrollBar Single Parts */
.scrollChapVBar .barStart {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -990px -0px;
	height: 8px;
	width: 27px;
}

.scrollChapVBar .vertical {
	position:relative;
	background-image: url('scaled/chapter/vertical.png');
	background-repeat:repeat-y;
	height:100%;
	width: 27px;
	margin: 0px 3px 0px 0px;
	padding: 0px;
}

.scrollChapVBar .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -960px -0px;
	height: 8px;
	width: 27px;
}

/* Black Blank */
.blackBlank {
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:100;
	background-color:black;
	display:none;
}

/* Page Overview */
/* Main Container */
.overview {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border:0px solid #000000;
	background-color: #aaaaaa;
	z-index: 50;
}

/* Single Page Div's */
.overview #divBox { /* Main Div's with Image & Title Content */
	height: 200px;
	width: 200px; /* bei Werten um 150 rum, sind Bilder weg*/

	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;

	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;

	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;

	background-color: #777777;
}
#previewImage {	
	width: 100px;
	height: 150px;
}
.overview .infoDiv {
	width: 150px;
	height: 20px;
	bottom: 9px;

	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;

	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;

	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;

	text-align: center;
	vertical-align: middle;

	font-weight: normal;
	color: #ffffff;
}

/* Overview ScrollBar */
/* Main Container */
.scrollOVV {
	height: 100%;
	width: 27px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 41;
	line-height: 0px;
	cursor: url('cursor/vertical.cur'), pointer;
}

/* Start & End - Buttons */
.scrollOVV .start {
	position: relative;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1110px -0px;
	width:27px;
	height:50px;
}
.scrollOVV .end {
	position: relative;
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1080px -0px;
	width:27px;
	height:50px;
}

/* Scroll Area */
.scrollOVV .empty {
}

.scrollOVV .spaceStart {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1230px -0px;
	position:relative;
	width:23px;
	left:2px;
	height:10px;
}
.scrollOVV .eVertical {
	position:relative;
	background-repeat:repeat-y;
	background-image: url('scaled/overview/eVertical.png');
	padding:0px;
	width:27px;
	margin:0px;
 	height:100%;
	vertical-align: top;
	text-align: center;
	left:2px;
	overflow: visible;
}
.scrollOVV .spaceEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1200px -0px;
	position:relative;
	width:23px;
	left:2px;
	height:10px;	
}
.scrollOVVBar { /* contains ScrollBar */
	position: absolute;
	overflow: visible;
	margin-top:50px;
}

/* ScrollBar */
.scrollOVV .barStart {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1170px -0px;
	width:27px;
	height:8px;
}
.scrollOVVBar .vertical {
	background-repeat:repeat-y;
	background-image: url('scaled/overview/vertical.png');
	position:relative;
	height:100%;
	width: 27px;
	margin: 0px 3px 0px 0px;
	padding: 0px;
}
.scrollOVV .barEnd {
	background-image: url('image.png');
	background-repeat: no-repeat;
	background-position: -1140px -0px;
	width:27px;
	height:8px;
}