
<!-- **************************************************************** -->
<!-- Servlets and mappings of metsmods                                -->
<!-- **************************************************************** -->

<servlet id="MCRDFGViewer">
  <servlet-name>MCRDFGViewerServlet</servlet-name>
  <servlet-class>org.mycore.frontend.servlets.MCRDFGViewerServlet</servlet-class>
</servlet>

<servlet id="MCRStartMetsMods">
  <servlet-name>MCRStartMetsModsServlet</servlet-name>
  <servlet-class>org.mycore.frontend.servlets.MCRStartMetsModsServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRDFGViewerServlet</servlet-name>
  <url-pattern>/servlets/MCRDFGViewerServlet</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>MCRStartMetsModsServlet</servlet-name>
  <url-pattern>/servlets/MCRStartMetsModsServlet</url-pattern>
</servlet-mapping>
