      <!-- **************************************************************** -->
      <!-- Servlets and mapping for the ACL editor Module          -->
      <!-- **************************************************************** -->
 
      <servlet id="MCRACLEditorServlet">
            <servlet-name>MCRACLEditorServlet</servlet-name>
            <servlet-class>org.mycore.services.acl.MCRACLEditorServlet</servlet-class>
      </servlet>
           
      <servlet-mapping>
            <servlet-name>MCRACLEditorServlet</servlet-name>
            <url-pattern>/servlets/MCRACLEditorServlet/*</url-pattern>
      </servlet-mapping>
