/*
 * Class for formular buttons
 */

form {
    margin: 0px;
    padding: 0px; 
}

#aclPermEditor .menu{
    margin-bottom: 3px;
	border: solid 1px black;
	background-color: #f4f5ed;
}

#aclPermEditor .input{
	width: 80%;
	border: solid 1px black;
}

#aclPermEditor .faultyInput{
    width: 80%;
	border: solid 2px red;
}

#aclPermEditor .button{
	margin-top: 2px;
	border-top: solid 1px white;
	border-left: solid 1px white;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#aclCreateNewPermBox, #aclEditPermBox{
	background-color: #edeff5;
	border: solid 1px black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.aclCreateNewPermTable {
    width: 100%;
}

.aclCreateNewPermTable td{
    padding: 3px;
}

.aclCreateNewPermTable .label{
	width: 10%;
}

.aclPermEditorLabel {
    font-weight: bold;
    padding: 3px;
	width: 100%;
	background-color: #f5f3ed;
	vertical-align: middle;
	display: table-caption;
	border-bottom: solid 1px black;
}

.permTocNaviResultsBox, .permFilterBox {
    width: 100%;
    border-bottom: solid 1px black;
}

.permFilterBox {
    padding-bottom: 4px;
    border-bottom-style: groove;
    border-bottom-width: 4px;
    border-bottom-color: #636363;
}

* html .permFilterBox {
    border-bottom-color: #d8d8d8;
}

.permFilterBox table{
    width: 100%;   
}

.permTocNaviResultsTable .label, .permFilterBox .label{
    text-decoration: underline;
}

.permTocNaviResultsTable .numChildren{
    font-weight: bold;
}

/*
 * Button classes (div as buttons)
 */
.clickButtonOut, .clickButtonOver {
    vertical-align: middle;
    text-align: center; 
    padding: 2px;
}

.clickButtonOut {
    color: white;
    background-color: gray;
    border: solid 1px gray;
    cursor: default;
}

.clickButtonOver {
    color: black;
    background-color: #d9d5db;
    border: solid 1px black;
    cursor: pointer;
}

.aclPermTableBox{
    margin-top: 3px;
    padding: 2px;
}

.saveButtonBar{
    width: 100%;
    border-top: groove 4px #636363;
}

* html .saveButtonBar{
    border-top-color: #d8d8d8;
}

/*
 * Editing permission box
 */
#aclEditPermBox .checkBox {
	border: none;
}

.aclPermTableBox .menu table{
	width: 100%;
}

.aclPermTableBox .menu .checkBoxRow{
    text-align: right;
}

.aclPermTableBox .menu .space {
    width: 30%;    
}

.aclPermTable{
    width: 100%; 
    border: solid 1px #484848;
    border-left: solid 4px gray;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.aclPermTable .delCheckBoxRow{
    text-align: right;
    width: 10%;
}

.aclPermTable .delCheckBoxRow table{
    text-align: right;
	width: 100%;
}

.aclPermTable .label {
    text-align: left;
    width: 15%;
}

.aclPermTable .value {
    overflow: scroll;
    font-weight: bold;
    max-width: 75%;
}

.selBox{
    border: solid 1px black;
}

/*
 * Misc
 */
.hidden, .selBox .value,.selBox table{
    display: none;
}