<!-- **************************************************************** -->
<!-- Servlets and mappings of iview2                                  -->
<!-- **************************************************************** -->
<listener>
  <listener-class>org.mycore.common.events.MCRIView2ServletContextListener</listener-class>
</listener>

<servlet>
  <servlet-name>MCRDirectoryXMLServlet</servlet-name>
  <servlet-class>org.mycore.frontend.iview2.MCRDirectoryXMLServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>MCRTileServlet</servlet-name>
  <servlet-class>org.mycore.frontend.iview2.MCRTileServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>MCRTileCombineServlet</servlet-name>
  <servlet-class>org.mycore.frontend.iview2.MCRTileCombineServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRDirectoryXMLServlet</servlet-name>
  <url-pattern>/servlets/MCRDirectoryXMLServlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>MCRTileServlet</servlet-name>
  <url-pattern>/servlets/MCRTileServlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>MCRTileCombineServlet</servlet-name>
  <url-pattern>/servlets/MCRTileCombineServlet/*</url-pattern>
</servlet-mapping>