<!-- **************************************************************** -->
<!-- Servlets and mappings of iview                                   -->
<!-- **************************************************************** -->

<servlet>
  <servlet-name>MCRDirectoryXMLServlet</servlet-name>
  <servlet-class>org.mycore.frontend.iview2.MCRDirectoryXMLServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>MCRTileServlet</servlet-name>
  <servlet-class>org.mycore.frontend.iview2.MCRTileServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRDirectoryXMLServlet</servlet-name>
  <url-pattern>/servlets/MCRDirectoryXMLServlet/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>MCRTileServlet</servlet-name>
  <url-pattern>/servlets/MCRTileServlet/*</url-pattern>
</servlet-mapping>