
<!-- **************************************************************** -->
<!-- Servlets and mappings of indexing                                -->
<!-- **************************************************************** -->

<servlet id="MCRGoogleSitemapServlet">
  <servlet-name>MCRGoogleSitemapServlet</servlet-name>
  <servlet-class>org.mycore.frontend.indexbrowser.MCRGoogleSitemapServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>MCRGoogleSitemapServlet</servlet-name>
  <url-pattern>/servlets/MCRGoogleSitemapServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MCRGoogleSitemapServlet</servlet-name>
  <url-pattern>/sitemap_google.xml</url-pattern>
</servlet-mapping>
