<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "web-app_2_3.dtd">
<web-app>

      <!-- **************************************************************** -->
      <!-- Servlets and mapping from the WCMS module                        -->
      <!-- **************************************************************** -->
      
      <servlet id="WCMSLoginServlet">
            <servlet-name> WCMSLoginServlet </servlet-name>
            <servlet-class> wcms.WCMSLoginServlet </servlet-class>
      </servlet>
      <servlet id="WCMSChooseServlet">
            <servlet-name> WCMSChooseServlet </servlet-name>
            <servlet-class> wcms.WCMSChooseServlet </servlet-class>
      </servlet>
      <servlet id="WCMSActionServlet">
            <servlet-name> WCMSActionServlet </servlet-name>
            <servlet-class> wcms.WCMSActionServlet </servlet-class>
      </servlet>
      <servlet id="WCMSAdminServlet">
            <servlet-name> WCMSAdminServlet </servlet-name>
            <servlet-class> wcms.WCMSAdminServlet </servlet-class>
      </servlet>
      <servlet id="WCMSFileUploadServlet">
            <servlet-name> WCMSFileUploadServlet </servlet-name>
            <servlet-class> wcms.WCMSFileUploadServlet </servlet-class>
      </servlet>
      <servlet id="WCMSGetStaticHTMLServlet">
            <servlet-name> WCMSGetStaticHTMLServlet </servlet-name>
            <servlet-class> wcms.WCMSGetStaticHTMLServlet </servlet-class>
      </servlet>

      <servlet-mapping>
            <servlet-name> WCMSLoginServlet </servlet-name>
            <url-pattern> /servlets/WCMSLoginServlet </url-pattern>
      </servlet-mapping>
      <servlet-mapping>
            <servlet-name> WCMSChooseServlet </servlet-name>
            <url-pattern> /servlets/WCMSChooseServlet </url-pattern>
      </servlet-mapping>
      <servlet-mapping>
            <servlet-name> WCMSActionServlet </servlet-name>
            <url-pattern> /servlets/WCMSActionServlet </url-pattern>
      </servlet-mapping>
      <servlet-mapping>
            <servlet-name> WCMSAdminServlet </servlet-name>
            <url-pattern> /servlets/WCMSAdminServlet </url-pattern>
      </servlet-mapping>
      <servlet-mapping>
            <servlet-name> WCMSFileUploadServlet </servlet-name>
            <url-pattern> /servlets/WCMSFileUploadServlet </url-pattern>
      </servlet-mapping>
      <servlet-mapping>
            <servlet-name> WCMSGetStaticHTMLServlet </servlet-name>
            <url-pattern> /servlets/WCMSGetStaticHTMLServlet </url-pattern>
      </servlet-mapping>

</web-app>

      