body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#graph {
  height: calc(100vh - var(--panel-height));
  width: 100%;
}

.graph-container {
  --panel-height: 50px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  position: relative;
}

.graph-container .graph-panel {
  align-items: center;
  display: flex;
  gap: 25px;
  height: var(--panel-height);
  margin: 0 25px;
}

.graph-container .graph-panel .form-group {
  display: flex;
  gap: 10px;
}

.graph-container .graph-reset-btn {
  all: unset;
  background-color: #45a2ef;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 16px;
}

.graph-container .graph-reset-btn:focus,
.graph-container .graph-reset-btn:hover {
  background-color: #007bff;
}

.graph-container .slider-value-group {
  align-items: center;
  display: flex;
  gap: 10px;
}

.graph-container #gravity-slider,
.graph-container #limit-slider {
  min-width: 400px;
}

.graph-container #graph-loading {
  animation: spin 2s linear infinite;
  border: 2px solid transparent; /* Light grey */
  border-bottom: 2px solid #45a2ef;
  border-radius: 50%;
  border-top: 2px solid #45a2ef; /* Blue */
  display: none;
  height: 25px;
  width: 25px;
}

.graph-container #graph-metadata {
  background-color: #fff;
  border: 1px solid #000;
  display: none;
  max-width: 500px;
  padding: 25px;
  position: absolute;
  right: 25px;
  top: 75px;
  z-index: 25;
}

.graph-container #graph-metadata p {
  margin-top: 0;
}

.graph-container #graph-metadata p:last-child {
  margin: 0;
}


.graph-container .graph-metadata-list {
  column-gap: 20px;
  display: grid;
  row-gap: 5px;
}

.graph-container .graph-metadata-list dt {
  font-weight: bold;
}

.graph-container .graph-metadata-list dd {
  margin: 0;
}

@media (min-width: 768px) {
  .graph-container .graph-metadata-list {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
